doctype html
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title Palvelukartta-demo
    meta(name='viewport', content='width=device-width')
    //- Google fonts Karla
    link(href='http://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic', rel='stylesheet', type='text/css')
    //- Custom icons
    link(href="fonts/fontcustom.css", rel="stylesheet")
    link(rel='stylesheet', href='http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css')
    script(src='http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js')
    link(href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css', rel='stylesheet')
    link(rel='stylesheet', href='vendor/leaflet.awesome-markers.css')
    <!--[if lte IE 8]>
    link(rel='stylesheet', href='http://cdn.leafletjs.com/leaflet-0.7/leaflet.ie.css')
    <![endif]-->
    link(href='css/servicemap.css', rel='stylesheet')
    link(href='vendor/L.Control.Sidebar.css', rel='stylesheet')
    block head

    <!--[if lte IE 8]>
    script(type='text/javascript', src='vendor/polyfills/array.generics.min.js')
    <![endif]-->

    script(type='text/javascript').
      window.sm_settings = {
        backend_url: "#{config.service_map_backend}",
        static_path: "#{config.static_path}"
      }
  body
    block content
    //- TODO: Could be refactored to use the same jquery used with Backbone
    script(src="//code.jquery.com/jquery-1.10.2.min.js")
    <!-- Bootstrap JavaScript compiled and minified -->
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
    if config.livereload
        script(src="//localhost:35729/livereload.js")
