extends base

block content
  #app-container.embed
    #map
  #navigation-region.overlay
  script(type='text/javascript', src!=staticFile('vendor/jade-runtime.js'))
  script(type='text/javascript', src!=staticFile('templates.js'))
  script(type='text/javascript', data-main!=staticFile('js/embed'), src!=staticFile('vendor/require.js'))
