extends base

block content
  #app-container
    #map
  script(type='template' id='template-servicetree')
    .container
      .heading.
        Browse topics
      ul.navi
        <% if (back != null) { %>
        li.service.parent(data-service-id!='<%= back %>').
          &#9664; <%= heading %>
        <% } %>
        <% _.each(list_items, function (item) { %>
        li(class!='<%= item.classes %>' data-service-id!='<%= item.id %>')
          <%= item.name %> <% if (item.has_children) { %> &#9654; <% } %>
          <% if (item.selected) { %>
          .show-button.selected hide
          <% } else { %>
          .show-button show
          <% } %>
        <% }); %>

  script(type='text/javascript', data-main='js/servicemap', src='vendor/require.js')
  #sidebar
