extends base

block content
  #app-container
    #map

block templates
  include templates/service-tree
  include templates/service-sidebar
  include templates/details

  script(type='text/javascript', data-main='js/servicemap', src='vendor/require.js')
  #sidebar
