extends base

block content
  #app-container
    #map
  img.cloud.cloud-top(src!=static_file('images/cloud-top.png'))
  img.cloud.cloud-bottom(src!=static_file('images/cloud-bottom.png'))
  #landing-logo.overlay
  #persistent-logo.overlay
  #navigation-region.overlay
  .top-right-controls
    #language-selector.overlay
    #personalisation.overlay
    #service-cart.overlay
  script(type='text/javascript', src!=static_file('vendor/jade-runtime.js'))
  script(type='text/javascript', src!=static_file('templates.js'))
  script(type='text/javascript', data-main!=static_file('js/app'), src!=static_file('vendor/require.js'))
