extends base

block content
  #app-container
    #map
  #sidebar
  script(type='text/javascript', src='vendor/jade-runtime.js')
  script(type='text/javascript', src='templates.js')
  script(type='text/javascript', data-main='js/servicemap', src='vendor/require.js')
