extends base

block content
  #app-container
    #map
  img.cloud.cloud-top(src="images/cloud-top.png")
  img.cloud.cloud-bottom(src="images/cloud-bottom.png")
  #landing-logo.overlay
  #persistent-logo.overlay
  #navigation-region.overlay
  #language-selector.overlay
  #service-cart.overlay
  #personalisation.overlay
  script(type='text/javascript', src='vendor/jade-runtime.js')
  script(type='text/javascript', src='templates.js')
  script(type='text/javascript', data-main='js/app', src='vendor/require.js')
