extends base

block content
  #tour-region
  #feedback-form-container.modal
  img.cloud.cloud-top(src!=staticFile('images/cloud-top.png'), data-no-retina, alt="")
  img.cloud.cloud-bottom(src!=staticFile('images/cloud-bottom.png'), data-no-retina, alt="")
  #landing-logo.overlay
  #persistent-logo.overlay
  #disclaimers.overlay
  #navigation-region.overlay
  .top-right-controls
    #language-selector.overlay
    #personalisation.overlay
    #service-cart.overlay
  #app-container
    #map
  #feature-tour-start.overlay
  script(type='text/javascript', src!=staticFile('vendor/jade-runtime.js'))
  script(type='text/javascript', src!=staticFile('js/templates.js'))
  script(type='text/javascript', src!=staticFile('vendor/require.js'))
  script(type='text/javascript').
    require.config({
      baseUrl: '/static/js',
      paths: {
        // Comment out this line to go back to loading the non-optimized main.js source file.
        //"main": "bundle"
        app: 'app',
        backbone: '../vendor/backbone',
        'backbone.babysitter': '../vendor/backbone.babysitter',
        'backbone.marionette': '../vendor/backbone.marionette',
        'backbone.wreqr': '../vendor/backbone.wreqr',
        bootstrap: '../vendor/bootstrap',
        'bootstrap-datetimepicker': '../vendor/bootstrap-datetimepicker.min',
        'bootstrap-tour': '../vendor/bootstrap-tour',
        CSSPlugin: '../vendor/CSSPlugin',
        EasePack: '../vendor/EasePack',
        harvey: '../vendor/harvey',
        i18next: '../vendor/i18next',
        iexhr: '../vendor/iexhr',
        IPv6: '../vendor/IPv6',
        jquery: '../vendor/jquery',
        leaflet: '../vendor/leaflet-src',
        'leaflet.activearea': '../vendor/leaflet.activearea',
        'leaflet.markercluster': '../vendor/leaflet.markercluster',
        'leaflet.snogylop': '../vendor/leaflet.snogylop',
        moment: '../vendor/moment',
        raven: '../vendor/raven',
        proj4: '../vendor/proj4',
        proj4leaflet: '../vendor/proj4leaflet',
        punycode: '../vendor/punycode',
        SecondLevelDomains: '../vendor/SecondLevelDomains',
        spin: '../vendor/spin',
        'typeahead.bundle': '../vendor/typeahead.bundle',
        TweenLite: '../vendor/TweenLite',
        underscore: '../vendor/underscore',
        URI: '../vendor/URI'
      },
      shim: {
        'bootstrap': {
          deps: ['jquery']
        },
        'backbone': {
          deps: ['underscore', 'jquery'],
          exports: 'Backbone'
        },
        'backbone.babysitter': {
          deps: ['backbone']
        },
        'typeahead.bundle': {
          deps: ['jquery']
        },
        'TweenLite': {
          deps: ['CSSPlugin', 'EasePack']
        },
        'leaflet.markercluster': {
          deps: ['leaflet']
        },
        'leaflet.activearea': {
          deps: ['leaflet']
        },
        'bootstrap-datetimepicker': {
          deps: ['bootstrap']
        },
        'bootstrap-tour': {
          deps: ['bootstrap']
        },
        'i18next': {
          exports: 'i18n'
        },
        'iexhr': {
          deps: ['jquery']
        },
        'leaflet.snogylop': {
          deps: ['leaflet']
        }
      },
      packages: [
        {name: 'cs', location: '../vendor', main: 'cs'},
        {name: 'coffee-script', location: '../vendor', main: 'coffee-script'}
      ]
    });

    require(["main"]);
