extends base

block content
  #tour-region
  #feedback-form-container.modal
  img.cloud.cloud-top(src!=staticFile('images/cloud-top.png'), data-no-retina, alt="")
  img.cloud.cloud-bottom(src!=staticFile('images/cloud-bottom.png'), data-no-retina, alt="")
  #landing-logo.overlay
  #persistent-logo.overlay
  #disclaimers.overlay
  #navigation-region.overlay
  .top-right-controls
    #language-selector.overlay
    #personalisation.overlay
    #service-cart.overlay
  #images
  #app-container
    #map
  #feature-tour-start.overlay.hidden-xs
  script(type='text/javascript', src!=staticFile('vendor/jade-runtime.js'))
  script(type='text/javascript', src!=staticFile('js/templates.js'))
  script(type='text/javascript', src!=staticFile('vendor/require.js'))
  script(type='text/javascript').
    require(['/static/js/app/config.js'], function() {
      if (appSettings.use_client_bundle) {
        require.config({paths: {'app/main': 'bundle'}});
      }

      if (appSettings.sentry_url) {
        var config = {};
        if (appSettings.sentry_disable) {
          config.shouldSendCallback = function () {
            return false;
          }
        }

        requirejs(['raven'], function(Raven) {
          Raven.config(appSettings.sentry_url, config).install();
          Raven.config({release: appSettings.git_commit_id});
        });
      } else {
        requirejs(['raven'], function(Raven) {
          Raven.debug = false;
        });
      }

      require(['app/main']);
    });

