if profile_set
  span!= t('accessibility.details_filtered_by_profile') + ': '
  each profile, i in profiles
    span.profile
      != profile['text']
    if i == profiles.length - 2
      = t('general.and')
    else if i != profiles.length - 1
      = ", "
    else if i == profiles.length - 1
      = "."
  div
    each profile in profiles
      span.icon(class!=profile['icon'])
    a.set-accessibility-profile(href='#')
      != ' ' + t('accessibility.modify_profile')