include ./mixins/personalisation-mode

.section
  h3= t('personalisation.hearing_and_sight')
  ul.personalisations
    +renderMode('senses', 'hearing_aid', 'hearing-aid')
    +renderMode('senses', 'visually_impaired', 'visually-impaired')
    +renderMode('senses', 'colour_blind', 'colour-blind')
.section
  h3= t('personalisation.mobility')
  ul.personalisations
    +renderMode('mobility', 'wheelchair', 'wheelchair')
    +renderMode('mobility', 'reduced_mobility', 'reduced-mobility')
    +renderMode('mobility', 'rollator', 'rollator')
    +renderMode('mobility', 'stroller', 'stroller')
