ul.events
  - each event in event_list
    li.event
      .time
        = event.date
        br
        = event.time
      .name
        a.show-event-details(href="#")
          = event.name
a.show-more-events(href="#")
  = t('sidebar.show_more_events')
