script(type='template' id='template-details-view')
  .content
    a.back-button(href="#", role="button", tabindex="0")
      span.icon-icon-back
      |  Back to results
    .section.main-info
      .header-row
        .color-ball
        h2 Activity centre Tanhua
      .description The department of Social Services and Health Care, Helsinki
      address
        | Pietarinkuja 8
        br
        | 00140 Helsinki
        br
        | (09) 123 4567
    .section
      h3 Some accessibility problems
      ul
        li The route to the entrance has more than two consecutive steps but no ramp.
        li The entrance has more than two consecutive steps but no ramp.
        li There is too little room for a wheelchair in front of the entrance.
