a.force#about-the-service(href="#")
  span.icon.icon-icon-info
    = t('disclaimer.info')
| &nbsp;
a.force#about-accessibility-stamp(href="#")
  span.icon.icon-icon-wheelchair
    = t('accessibility.accessibility_stamp')
| &nbsp;
a.force(id=copyrightLink ? "map-copyright" : "map-copyright-nolink", target="_blank", href!=copyrightLink ? copyrightLink : "#")
  span.icon.icon-icon-copyright
    = copyright
