a#about-the-service(href="#")
  span.icon.icon-icon-info
    = t('disclaimer.info')
| &nbsp;
a#map-copyright(target="_blank", href!=copyrightLink ? copyrightLink : "#")
  span.icon.icon-icon-copyright
    = copyright
