h2.sr-only
    =t ('disclaimer.info')
a.force#about-the-service(href="#", aria-label=t('disclaimer.info'))
  span.icon.icon-icon-info(aria-hidden="true")
    = t('disclaimer.info')
| &nbsp;
a.force(id=copyrightLink ? "map-copyright" : "map-copyright-nolink", target="_blank", href!=copyrightLink ? copyrightLink : "#")
  span.icon.icon-icon-copyright
    = copyright
