a.division(href="#", class = selected ? 'selected': '')
  .district(class = selected ? 'selected': '')
    .district-type
      = uppercaseFirst(t('district.' + type))
    if name
      .title
        = name
