.panel.panel-default
    .panel-heading
        h4
            a.collapsed(data-toggle="collapse", data-parent="#title-bar-container", href="#collapseOne")= titleText + ': all services'
    #collapseOne.panel-collapse.collapse
        .panel-body Public services
            a.show-button.public(href="#" role="button" tabindex="0") Show
        .panel-body Private services
            a.show-button.private(href="#" role="button" tabindex="0") Show
