.panel-heading
      h5.collapser.collapsed(data-toggle="collapse", href="#filter-details")
        - cutpoint = divisions.length - 2
        if divisions.length > 2
          for division in divisions.slice(0, cutpoint)
              = tAttr(division) + ', '
        if divisions.length > 1
          = tAttr(divisions[cutpoint])
          = pad(t('sidebar.and'))
          = tAttr(divisions[cutpoint + 1])
        if divisions.length == 1
          = tAttr(divisions[0])
        |:
        = pad(t('sidebar.all_services'))
#filter-details.panel-collapse.collapse
    .panel-body= t('sidebar.public_services')
        a.show-button.public(href="#" role="button" tabindex="0")= t('sidebar.hide')
    .panel-body= t('sidebar.private_services')
        a.show-button.private(href="#" role="button" tabindex="0")= t('sidebar.hide')
