.time(aria-hidden="true")
  != datetime.date[0]
  if datetime.date[1]
    | &mdash;
    != datetime.date[1]
  if datetime.time
    br
    != datetime.time
.name
  a.show-event-details(href="#{info_url}", target="_blank" aria-label="#{name}, #{datetime.date} #{datetime.time}")
    = name
