.modal-content
  .section.info-box.modal-header
    span.icon.icon-icon-feedback
    a(href="#", data-dismiss="modal").icon.icon-icon-close
    h3.modal-title
      != t('feedback.form.header', {receiver: unit.name})
  .section.modal-body
    p. Your feedback wuz sent
    p
      a.external-link.processing-info(href='#')= t('feedback.form.processing_info')
      .form-section
        .submit-wrapper
          button.ok-button(data-dismiss="modal")
            | Ok
