.modal-content
  .section.info-box.modal-header
    span.icon.icon-icon-feedback
    a(href="#", data-dismiss="modal").icon.icon-icon-close
    h3.modal-title
      != t('feedback.form.header', {receiver: unit.name})
  .section.modal-body.confirmation
    p= t('feedback.form.thanks')
    p
      a.external-link.processing-info(href='#')= t('feedback.form.processing_info')
      .submit-wrapper
        .form-section
          a.ok-button.dismiss(href="#", data-dismiss="modal")
            | Ok
