.modal-content
  .section.info-box.modal-header
    span.icon.icon-icon-feedback
    a(href="#", data-dismiss="modal").icon.icon-icon-close
    h3.modal-title
      if unit.name
        != t('feedback.form.header', {receiver: unit.name})
      else
        != t('app_feedback.prompt')
  .section.modal-body.confirmation
    p= t('feedback.form.thanks')
    p
      != externalLink(t('feedback.official_information'), t('feedback.form.processing_info'), {class:'processing-info'})
      .submit-wrapper
        .form-section
          a.ok-button.dismiss(href="#", data-dismiss="modal")
            | Ok
