.modal-content
  .section.info-box.modal-header
    span.icon.icon-icon-feedback
    a(href="#", data-dismiss="modal").icon.icon-icon-close
    h3.modal-title
      != t('feedback.form.header', {receiver: unit.name})
  .section.modal-body
    form
      .form-section
        label
          = t('feedback.form.subject')
          | :
          input(type='text')
      .form-section
        label
          = t('feedback.form.sender_name')
          | :
          input(type='text')
      //-.form-section
        // notice: these are not supported by the api,
        // hence commented out
        label. Feedback type: &#9829;
        label(for='foo')
          input(type='radio', name='feedback-type', value='foo')
          | Complaint &#9829;
        label(for='bar')
          input(type='radio', name='feedback-type', value='bar')
          | Praise &#9829;
        label(for='spe')
          input(type='radio', name='feedback-type', value='spe')
          | Praise &#9829;
        label(for='bar')
          input(type='radio', name='feedback-type', value='bar')
          | Praise &#9829;
        label(for='bar')
          input(type='radio', name='feedback-type', value='bar')
          | Praise &#9829;
      .form-section
        label
          = t('feedback.form.message')
          | :
          textarea(rows='10', cols='40')
      .form-section
        label.prominent
          input(type='checkbox')
          | &nbsp;
          = t('feedback.form.affirm_publication')
      .form-section
        label.prominent
          input(type='checkbox')
          | &nbsp;
          = t('feedback.form.accessibility_related')
        .hidden-section.hidden
          label
            = t('feedback.form.accessibility_viewpoint')
            | &nbsp;
          #accessibility-section
            
      .form-section
        label.prominent
          input(type='checkbox')
          | &nbsp;
          = t('feedback.form.affirm_email')
        .hidden-section.hidden
          label
            = t('feedback.form.email_address')
            | :&nbsp;
            input(type='email')
          p.help-text= t('feedback.form.email_safe_with_us')
  
      .form-section
        .submit-wrapper
          a.cancel(href='#', data-dismiss="modal")= t('general.cancel')
          input.ok-button(type='submit' value!=t('feedback.form.submit'))
          a.external-link.processing-info(href='#')= t('feedback.form.processing_info')
