.modal-content
  .section.info-box.modal-header
    span.icon.icon-icon-feedback
    a(href="#", data-dismiss="modal").icon.icon-icon-close
    h3.modal-title
      != t('app_feedback.prompt')
  .section.modal-body
    form.settings-container
      .form-section
        label.description
          = t('feedback.form.message')
          | :
          span.validation-error.description.hidden
          textarea#open311-description(rows='10', cols='40', maxlength='5000', required)
            != description

      .form-section
        label.prominent
          input#open311-email_enabled(type='checkbox', checked=email_enabled)
          | &nbsp;
          = t('feedback.form.affirm_email')
        .hidden-section(class=email_enabled ? "" : "hidden")
          label
            = t('feedback.form.email_address')
            | :&nbsp;
            input#open311-email(type='email', value!=email)
          p.help-text= t('feedback.form.email_safe_with_us')

      .form-section
        .submit-wrapper
          a.cancel(href='#', data-dismiss="modal")= t('general.cancel')
          input.ok-button(type='submit' value!=t('feedback.form.submit'))
