if cancelable
  a.cancel-button(href='#!', title=t('assistive.cancel_search'))
    span.icon-icon-close
div.loading-indicator-icon-container
  div.icon.icon-icon-loading
div.loading-indicator-status(aria-live="polite")
  = t('progress.' + status)
  | 
  if (progress && total)
    span.loading-progress
      = progress
      | &nbsp/&nbsp;
      = total
