//if (!canceled)
a.cancel-button(href='#!')
  span.icon-icon-close
div.loading-indicator-icon-container
  div.icon.icon-icon-loading
p
  = status
  | 
  if (progress && total)
    span.progress= progress
    | &nbsp/&nbsp;
    span.total= total
    | &nbsp;
    span.unit= unit
