span.icon.icon-icon-search
span.input-container
  input.form-control(type="search", placeholder!=t('sidebar.search'), value!=executed_query)
  span.action-button.close-button(type="button")
    span.icon-icon-close
