.search-container
  #search-region.header.search(role="textfield", data-type="search", tabindex="-1")
.browse-container
  h2.sr-only=t('sidebar.browse')
  #browse-region.header.browse(role="button", data-type="browse", tabindex="0", aria-label=t("sidebar.browse_button"))
