h2.sr-only
  != t('assistive.navigation')
.search-container
  #search-region.header.search(role="link", data-type="search", tabindex="-1")
.browse-container
  #browse-region.header.browse(role="link", data-type="browse", tabindex="0")
