h2.sr-only
  != t('assistive.navigation')
.search-container
  a#search-region.header.search(href="#", data-type="search", tabindex="-1")
.browse-container
  a#browse-region.header.browse(href="#", data-type="browse", tabindex="0")
