span.icon.icon-icon-browse
span(aria-hidden='true').text=t('sidebar.browse')
span(aria-hidden='true').short-text=t('sidebar.browse_short')
h3.sr-only=t('sidebar.browse')
span.action-button.close-button(type="button")
  span.icon-icon-close
