extends ./layouts/search-wrapper.jade
block regions
  if !noResults
    div.address-region
    div#address-more
    div.service-region
    div#service-more    
    div.unit-region
    div#unit-more    
    div#expanded-region
