extends ./layouts/search-wrapper.jade
block regions
  if !noResults
    div.address-region
    div#address-more
    div.ontologytreenode-region
    div#ontologytreenode-more
    div.unit-region
    div#unit-more    
    div#expanded-region
