if !hidden
  h3#search-results.sr-only(tabindex='-1')
    = t('assistive.search_results')
  if expanded || locationPrompt
    div.header-item.expanded-search-results
      div.header-column-main
        if !onlyResultType
          a.back-button.icon-icon-back-bold(href="#", role="button")
        span.breadcrumbs
          .crumb
            = crumb
        br
        != header

      div.header-column-sort.dropdown
        if !collapsed
          label.sorting-label
            = t('search.sort_label')
          a(id="sorting-dropdown", class="sorting", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false", tabindex="0")
            != t('search.sort.' + comparatorKey)
          ul(class="dropdown-menu sorting-dropdown", aria-labelledby="sorting-dropdown")
            each comparatorKey in comparatorKeys
              li
                a(href="#", class="sort-item", data-sort-key="#{comparatorKey}")
                  != t('search.sort.' + comparatorKey)

      div.header-column-collapse
        a.collapse-button(href="#",role="button", tabindex="0", aria-hidden='true')
          span(class=collapsed ? 'icon-icon-expand' : 'icon-icon-collapse')

    div#list-controls.header-item(class = controls ? '' : 'hidden')
  else
    if header
      .header-item(aria-live="polite")
        if !hideBackButton
          a.back-button(href="#", data-target!=target)
            span.header-item__narrow-icon-back.icon-icon-back-bold
        != header + ' ' + t('sidebar.found')
    else
      div.header-item.expanded-search-results
        div.header-column-main
          span.breadcrumbs
            .crumb
              = crumb
          br
          != t('search.no_results')
  if !collapsed
    div.result-contents
      ul.main-list.search-result-list(tabindex="-1")
        if locationPrompt
          li#search-unavailable-location-info
            = locationPrompt
        
    if showMore
        a(href="#").show-prompt.show-more
          .text-content= t('sidebar.scroll_for_more')
          .spinner-container
else
  div.result-contents
    ul.main-list.search-result-list
