
mixin renderCity(id, name)
  li(data-group='city', data-type=id)
    a(href="#")
      .icon
        span(class!="icon-icon-coat-of-arms-#{id}")
      span.text
        = name


.personalisation-header
  .selected-personalisations
  a.personalisation-button(href="#", role="button", tabindex="0")
    span.icon-icon-personalise
  span.text
    = t('personalisation.personalise')
  a.ok-button(href="#", role="button", tabindex="0")
    | OK
.personalisation-content
  // .section
  //   h3= t('personalisation.my_location')
  //   .location-controls
  //     .input-container
  //       input.form-control(type="text", placeholder!=t('personalisation.enter_address'))
  //     .link-container
  //       a.select-on-map(href="#")
  //         != t('personalisation.select_on_map')
  #accessibility-personalisation
  .section
    h3= t('personalisation.city')
    ul.personalisations.coats-of-arms
      +renderCity('helsinki', 'Helsinki')
      +renderCity('espoo', 'Espoo')
      +renderCity('vantaa', 'Vantaa')
      +renderCity('kauniainen', 'Kauniainen')
.personalisation-message.sm-popup.open
  .arrow.top
  span.icon.icon-icon-wheelchair
  span.close-button(type="button")
    span.icon-icon-close
  a(href="#")= t('personalisation.personalisation_message')
