.content
  .section.main-info
    .header
      span.icon-icon-close
      h2
        span= name
    .section-content
      h3= t('district.info')
      p= t('district.info_description')
  .admin-div-placeholder
