.stop-main-content.sm-popup.open
  .heading
    = stop.name
    if stop.wheelchairBoarding == 'POSSIBLE'
        = ' ♿'
  span.stop-code
    = stop.code
  span
    = stop.desc

  each stoptime in stop.stoptimes
    .route-detail
      if stoptime.realtimeState == 'CANCELED'
        div
          = t('canceled')
      else
        span(class=stoptime.realtime && 'real-time')
          = stoptime.departureTime
        if stoptime.trip
          span(class=stop.vehicleTypeName).vehicle-number
            = stoptime.trip.routeShortName
        if stoptime.pickupType == 'NONE'
          // https://github.com/HSLdevcom/digitransit-ui/blob/master/app/component/DepartureListContainer.js
          span
            = t('terminus')
        else
          span
            = stoptime.headsign

  a.bottom-navigation-container.external-link(href=stop.externalUrl, target="_blank")
    .bottom-navigation-wrapper
      .left
        span
          = t('goto_reittiopas')
        | &nbsp;
        span.icon-icon-outbound-link
      .right.icon.icon-icon-forward

  .arrow.bottom
