.list
  if stops
    each stop in stops
      a.stop-name(href="#", role="button", data-stop-id="#{stop.id}", class=(stop.className))
        div= stop.name
        div= stop.className

.stop-content
