.arrivals
  div= stop.name
  if stop.stoptimesWithoutPatterns
    each stoptime in stop.stoptimesWithoutPatterns
      if stoptime.realtimeState == 'CANCELED'
        div canceled
      else
        div= stoptime.arrivalTime
        if stoptime.realtime
          div real-time
        if stoptime.trip && stoptime.trip.pattern && stoptime.trip.pattern.route
          div= stoptime.trip.pattern.route.shortName
