.public-transit-stops
  .public-transit-stops__heading(class="public-transit-stops__heading--#{stopType}")
    span.public-transit-stops__name
      = name
    span.public-transit-stops__accessibility(class="public-transit-stops__accessibility--#{accessibility}")

  each stoptime in stoptimes
    .public-transit-stops__stoptime
      span.public-transit-stops__departure
        = stoptime.departureTime

      span.public-transit-stops__route-name(class="public-transit-stops__route-name--#{stoptime.vehicleTypeName}")
        = stoptime.routeName

      span.public-transit-stops__trip-accessibility(class="public-transit-stops__trip-accessibility--#{stoptime.accessibility}")

      span.public-transit-stops__destination
        = stoptime.destination
