a#resource-reservation-collapser.collapsed.collapser(role='button', aria-expanded="false", data-toggle="collapse", data-parent="#details-view-container", href="#resource-reservation")
  h3
    span.icon-icon-opening-hours
    span
    = t('sidebar.resource_reservations')

ul#resource-reservation.section-content.collapse
