.route-settings-header
.settings-content
  .route-controllers
  h3= t('transit.route_settings.accessibility_options')
  .accessibility-viewpoint-part
  h3= t('transit.route_settings.transport_options')
  .transport_mode_controls
