.settings-header
  h3
    span.icon-icon-settings
    | &nbsp;
    = t('transit.route_settings_modal.route_settings')
  a.ok-button(href="#", role="button", tabindex="0")
    | OK

include ./route-controllers.jade

h3
  = t('transit.route_settings_modal.accessibility_options')

.accessibility-viewpoint-part.accessibility-viewpoint
