.open-settings(aria-hidden='true')
  a.ok-button.settings-button(href="#", role="button", tabindex="0")
    span.icon.icon-icon-settings
    = t('transit.route_settings.route_settings')
div.settings-header
  h3
    span.icon-icon-settings
    = t('transit.route_settings.route_settings')
  a.ok-button(href="#", role="button", tabindex="0")
    | OK