a.settings-summary(href="#")
  span.icon-icon-settings
  |From current location
  .icons
    span.icon-icon-stroller
    span.separator &middot;
    | Only&nbsp;
    span.icon-icon-subway
    span.icon-icon-train
div.settings-header
  h3
    span.icon-icon-settings
    = t('transit.route_settings_modal.route_settings')
  a.ok-button(href="#", role="button", tabindex="0")
    | OK

.settings-content
  .route-controllers

  h3= t('transit.route_settings_modal.accessibility_options')
  .accessibility-viewpoint-part

  h3= t('transit.route_settings_modal.transport_options')
  .transport_mode_controls
