a.collapser.collapsed(data-toggle="collapse", data-parent="#details-view-container", href="#route-details")
  h3
    span.icon-icon-public-transport &nbsp;
    = t('sidebar.route_here')
  span.short-text
    span.length
    = best_length
    = ' '
    span.means
    = best_means

#route-details.section-content.collapse
