.endpoint-inputs.settings-controllers
  #location-loading-indicator
  .row.current-location
    .col-xs-12
      a.ok-button.detect-current-location(href="#" role="button" tabIndex="0")
        span.icon.icon-icon-you-are-here
        = t('transit.current_location')
  .row.transit-endpoints
    .col-sm-6.col-xs-12.transit-start
      .input-wrapper
          - value = origin_name
          input.origin-input(type="text", placeholder!=t('transit.input_placeholder'),
          value!=value, data-endpoint='origin')
    .col-sm-6.col-xs-12.transit-end
      .input-wrapper
          - value = destination_name
          input.destination-input(type="text", placeholder!=t('transit.input_placeholder'),
          value!=value, data-endpoint='destination')
    a.swap-endpoints(href="#", tabindex='-1')
      span.icon-icon-forward