a.search-result(href="#")
  if object_type == 'service'
    span.icon.icon-icon-browse
  if object_type == 'unit'
    - rootId = (root_services !== undefined && root_services.length) ? root_services[0] : 0
    div(class="color-ball service-background-color-#{rootId}")
  if object_type == 'address'
    span.icon.icon-icon-address
  span.title
    = name
  span.specifier
    = specifier_text
  if distance !== undefined
    span.specifier.distance
      = humanDistance(distance)
  if shortcomings !== undefined
    span.specifier.shortcomings
      = humanShortcomings(shortcomings)
