if noResults
  ul.main-list
    li.info-box
      p
        = t('sidebar.no_search_results')
        br
        = query
else
  div.address-region
  div.servicenode-region
  div.unit-region
  div#expanded-region