ul.categories.hidden
  li.header-item
    span.result-count
    | &nbsp;service categories
a(href="#").show-all.hidden
  | Show all &nbsp;
  span.result-count
  | &nbsp;categories
ul.service-points.hidden
  li.header-item
    span.result-count
    | &nbsp;service points
a(href="#").show-all.hidden
  | Show all&nbsp;
  span.result-count
  | &nbsp;service points
