a.search-result(href="#")
  if object_type == 'ontologytreenode'
    span.icon.icon-icon-browse
  if object_type == 'unit'
    div(class="color-ball service-background-color-#{rootId}")
  if object_type == 'address'
    span.icon.icon-icon-address
  span.title
    = name
  span.specifier
    = specifier_text
  if distance !== undefined
    span.specifier.distance
      = humanDistance(distance)
  if shortcomings !== undefined
    span.specifier.shortcomings
      = humanShortcomings(shortcomings)
  if contract_type
    span.specifier.contract-type
      = tAttr(contract_type.description)
