if !hidden
  h2.sr-only
    = t('assistive.search_results')
  if !onlyResultType && expanded
    div.header-item.expanded-search-results
      a.back-button(href="#", role="button", tabindex="0")
        span.icon-icon-back-bold
        span.breadcrumbs
          = t('sidebar.search_results')
        br
        = header
  else
    div.header-item= header
  div.result-contents
  if showAll
    a(href="#", data-target!=target).show-prompt.show-all= showAll
  if showMore
    a(href="#").show-prompt.show-more
      .text-content= t('sidebar.scroll_for_more')
      .spinner-container