ul.categories
  li.header-item 15 service categories
a(href="#").show-all Show all 15 categories
ul.service-points
  li.header-item 120 service points
a(href="#").show-all Show all 120 service points
