ul.categories.hidden
  li.header-item 15 service categories
a(href="#").show-all.hidden Show all 15 categories
ul.service-points.hidden
  li.header-item 120 service points
a(href="#").show-all.hidden Show all 120 service points
