div.feedback-prompt
  a(href='#', data-uv-trigger='contact')
    = t('feedback.prompt')
div.bottom-logo
  a.external-link(href='/')
    img.logo(src=static_path("images/logos/service-map-logo-#{lang}-small.png") alt="Service Map logo")
