.tool-header.sm-control-button-wrapper.hidden-xs
  h2.sr-only= t('tools.menu')
  a.sm-control-button(href="#", role="button", aria-label= t('general.open') + ' ' + t('tools.menu'))
    span
      i.icon-icon-tools
  #tool-context.context-menu
