.tool-header.sm-control-button-wrapper.hidden-xs
  a.sm-control-button(href="#", role="button", aria-label= t('general.open') + ' ' + t('tools.menu'), aria-pressed="false")
    span
      i.icon-icon-tools
  #tool-context.context-menu
