.popover.tour
  .arrow
  .progress-meter
    if next > 0
      - step_no = next
    else
      - step_no = length
    = step_no
    | /
    = length
  a(href="#").close-button(data-role='end')
    | SKIP
    span.icon.icon-icon-close
  .popover-title
    h2= title
  .popover-content
    p= content
  .popover-navigation
    if next != 1
      button.btn.btn-default(data-role='prev'). PREV
      if next != -1
        button.btn.btn-default(data-role='next'). NEXT
    else
      button.btn.btn-default(data-role='next'). START
      .language-selector
        span.language. Suomeksi | 
        span.language. På svenska
