include ./mixins/personalisation-mode

ul.personalisations
  +render_mode('transport', 'by_foot', 'by-foot', transport_modes.by_foot)
  +render_mode('transport', 'bicycle', 'bicycle', transport_modes.bicycle)
  +render_mode('transport', 'public_transport', 'public-transport', transport_modes.public_transport)
  +render_mode('transport', 'car', 'car', transport_modes.car)

ul.personalisations.transport-details(class=transport_modes.public_transport ? undefined : 'hidden')
  .arrow.top
  +render_mode('transport_details', 'bus', 'bus', transport_modes.bus)
  +render_mode('transport_details', 'tram', 'tram', transport_modes.tram)
  +render_mode('transport_details', 'metro', 'public-transport', transport_modes.metro)
  +render_mode('transport_details', 'train', 'train', transport_modes.train)
  +render_mode('transport_details', 'ferry', 'ferry', transport_modes.ferry)
