include ./mixins/personalisation-mode

ul.personalisations.transport-modes
  +renderMode('transport', 'by_foot', 'by-foot', transport_modes.by_foot)
  +renderMode('transport', 'bicycle', 'bicycle', transport_modes.bicycle)
  +renderMode('transport', 'public_transport', 'public-transport', transport_modes.public_transport)
  +renderMode('transport', 'car', 'car', transport_modes.car)

ul.personalisations.transport-details.public-details(class=transport_modes.public_transport ? undefined : 'hidden')
  .arrow.top
  +renderMode('transport_details', 'bus', 'bus', transport_details.bus)
  +renderMode('transport_details', 'tram', 'tram', transport_details.tram)
  +renderMode('transport_details', 'metro', 'public-transport', transport_details.metro)
  +renderMode('transport_details', 'train', 'train', transport_details.train)
  +renderMode('transport_details', 'ferry', 'ferry', transport_details.ferry)

ul.personalisations.transport-details.bicycle-details(class=bicycle_details_classes)
  .arrow.top
  li(data-type='bicycle_parked' class=transport_details.bicycle_parked ? 'selected' : '')
    a(href="#")
      span.text
        != t('personalisation.bicycle_parked')
  li(data-type='bicycle_with' class=transport_details.bicycle_with ? 'selected' : '')
    a(href="#")
      span.text
        != t('personalisation.bicycle_with')
