include ./mixins/personalisation-mode

ul.personalisations.transport-modes
  +renderMode('transport', 'by_foot', 'by-foot', transport_modes)
  +renderMode('transport', 'bicycle', 'bicycle', transport_modes)
  +renderMode('transport', 'public_transport', 'public-transport', transport_modes)
  +renderMode('transport', 'car', 'car', transport_modes)

ul.personalisations.transport-details.public-details(class=transport_modes.indexOf('public_transport') != -1 ? undefined : 'hidden')
  .arrow.top
  +renderMode('transport_detailed_choices', 'bus', 'bus', public_modes)
  +renderMode('transport_detailed_choices', 'tram', 'tram', public_modes)
  +renderMode('transport_detailed_choices', 'metro', 'public-transport', public_modes)
  +renderMode('transport_detailed_choices', 'train', 'train', public_modes)
  +renderMode('transport_detailed_choices', 'ferry', 'ferry', public_modes)

ul.personalisations.transport-details.bicycle-details(class=bicycle_details_classes)
  .arrow.top
  li(data-type='bicycle_parked' class=transport_detailed_choices.bicycle.bicycle_parked ? 'selected' : '')
    a(href="#")
      span.text
        != t('personalisation.bicycle_parked')
  li(data-type='bicycle_with' class=transport_detailed_choices.bicycle.bicycle_with ? 'selected' : '')
    a(href="#")
      span.text
        != t('personalisation.bicycle_with')
