- var classes = object_type
.typeahead-suggestion(class!=classes)
  a(href="#")
    .icon
      if object_type === 'service'
        span.icon-icon-browse
      else if object_type === 'event'
        span.icon-icon-events
      else if object_type === 'unit'
        - root_id = root_services.length ? root_services[0] : 0
        div(class="color-ball service-background-color-#{root_id}")
    = t_attr(name)
    if object_type === 'event'
      br
      span.date
        = human_date(start_time)
