- var classes = object_type
.typeahead-suggestion(class!=classes)
  a(href="#")
    .icon
      if object_type === 'service'
        span.icon-icon-browse
      else if object_type === 'address'
        span.icon-icon-address
      else if object_type === 'event'
        span.icon-icon-events
      else if object_type === 'unit'
        - rootId = root_services.length ? root_services[0] : 0
        div(class="color-ball service-background-color-#{rootId}")
    .suggestion-text
      if object_type === 'address'
        = name
      else
        = tAttr(name)
    if object_type === 'event'
      - var dates = humanDateRange(start_time, end_time)
      .date
        != dates[0]
        if dates[1]
          | &mdash;
          != dates[1]
