.typeahead-suggestion
  a(href="#")
    .icon
      if object_type === 'service'
        span.icon-icon-browse
      else
        - root_id = root_services.length ? root_services[0] : 0
        div(class="color-ball service-background-color-#{root_id}")
    = t_attr(name)
