a.unit(href='#!')
  if area
    h5.service-type
      = t('position.service_type.' + area.get('type'))
  .title
    = name
  .address
    if street_address
      = street_address
  if emergencyUnitId
    #emergency-unit-notice
      != t('position.emergency_care.common', {children: t('position.emergency_care.children')})
      = " "
      a(href="/unit/" + emergencyUnitId, class="blue-link")
        != t('position.emergency_care.unit.' + emergencyUnitId)
      = " "
      != t('position.emergency_care.link')
