mixin renderMode(group, type, icon, selected)
  li(data-group=group, data-type=type class=selected ? 'selected' : '')
    a(href="#")
      .icon
        span(class!="icon-icon-#{icon}")
      span.text
        != uppercaseFirst(t("personalisation." + type))
