
.service-hover-background-color-light-25000:hover {
    background-color: rgba(142, 139, 255, 0.30) !important;
}
.service-hover-background-color-light-26190:hover {
    background-color: rgba(240, 66, 0, 0.30) !important;
}
.service-hover-background-color-light-26412:hover {
    background-color: rgba(0, 81, 142, 0.30) !important;
}
.service-hover-background-color-light-27718:hover {
    background-color: rgba(60, 210, 0, 0.30) !important;
}
.service-hover-background-color-light-27918:hover {
    background-color: rgba(67, 48, 64, 0.30) !important;
}
.service-hover-background-color-light-50000:hover {
    background-color: rgba(77, 139, 0, 0.30) !important;
}
.service-hover-background-color-light-50001:hover {
    background-color: rgba(192, 79, 220, 0.30) !important;
}
.service-hover-background-color-light-50002:hover {
    background-color: rgba(252, 173, 0, 0.30) !important;
}
.service-hover-background-color-light-50003:hover {
    background-color: rgba(154, 0, 0, 0.30) !important;
}
.service-hover-background-color-25000:hover {
    background-color: rgb(142, 139, 255) !important;
}
.service-hover-background-color-26190:hover {
    background-color: rgb(240, 66, 0) !important;
}
.service-hover-background-color-26412:hover {
    background-color: rgb(0, 81, 142) !important;
}
.service-hover-background-color-27718:hover {
    background-color: rgb(60, 210, 0) !important;
}
.service-hover-background-color-27918:hover {
    background-color: rgb(67, 48, 64) !important;
}
.service-hover-background-color-50000:hover {
    background-color: rgb(77, 139, 0) !important;
}
.service-hover-background-color-50001:hover {
    background-color: rgb(192, 79, 220) !important;
}
.service-hover-background-color-50002:hover {
    background-color: rgb(252, 173, 0) !important;
}
.service-hover-background-color-50003:hover {
    background-color: rgb(154, 0, 0) !important;
}
.service-hover-background-color-light-25000:focus {
    background-color: rgba(142, 139, 255, 0.30) !important;
}
.service-hover-background-color-light-26190:focus {
    background-color: rgba(240, 66, 0, 0.30) !important;
}
.service-hover-background-color-light-26412:focus {
    background-color: rgba(0, 81, 142, 0.30) !important;
}
.service-hover-background-color-light-27718:focus {
    background-color: rgba(60, 210, 0, 0.30) !important;
}
.service-hover-background-color-light-27918:focus {
    background-color: rgba(67, 48, 64, 0.30) !important;
}
.service-hover-background-color-light-50000:focus {
    background-color: rgba(77, 139, 0, 0.30) !important;
}
.service-hover-background-color-light-50001:focus {
    background-color: rgba(192, 79, 220, 0.30) !important;
}
.service-hover-background-color-light-50002:focus {
    background-color: rgba(252, 173, 0, 0.30) !important;
}
.service-hover-background-color-light-50003:focus {
    background-color: rgba(154, 0, 0, 0.30) !important;
}
.service-hover-background-color-25000:focus {
    background-color: rgb(142, 139, 255) !important;
}
.service-hover-background-color-26190:focus {
    background-color: rgb(240, 66, 0) !important;
}
.service-hover-background-color-26412:focus {
    background-color: rgb(0, 81, 142) !important;
}
.service-hover-background-color-27718:focus {
    background-color: rgb(60, 210, 0) !important;
}
.service-hover-background-color-27918:focus {
    background-color: rgb(67, 48, 64) !important;
}
.service-hover-background-color-50000:focus {
    background-color: rgb(77, 139, 0) !important;
}
.service-hover-background-color-50001:focus {
    background-color: rgb(192, 79, 220) !important;
}
.service-hover-background-color-50002:focus {
    background-color: rgb(252, 173, 0) !important;
}
.service-hover-background-color-50003:focus {
    background-color: rgb(154, 0, 0) !important;
}
.service-background-color-light-25000 {
    background-color: rgba(142, 139, 255, 0.30) !important;
}
.service-background-color-light-26190 {
    background-color: rgba(240, 66, 0, 0.30) !important;
}
.service-background-color-light-26412 {
    background-color: rgba(0, 81, 142, 0.30) !important;
}
.service-background-color-light-27718 {
    background-color: rgba(60, 210, 0, 0.30) !important;
}
.service-background-color-light-27918 {
    background-color: rgba(67, 48, 64, 0.30) !important;
}
.service-background-color-light-50000 {
    background-color: rgba(77, 139, 0, 0.30) !important;
}
.service-background-color-light-50001 {
    background-color: rgba(192, 79, 220, 0.30) !important;
}
.service-background-color-light-50002 {
    background-color: rgba(252, 173, 0, 0.30) !important;
}
.service-background-color-light-50003 {
    background-color: rgba(154, 0, 0, 0.30) !important;
}
.service-background-color-25000 {
    background-color: rgb(142, 139, 255) !important;
}
.service-background-color-26190 {
    background-color: rgb(240, 66, 0) !important;
}
.service-background-color-26412 {
    background-color: rgb(0, 81, 142) !important;
}
.service-background-color-27718 {
    background-color: rgb(60, 210, 0) !important;
}
.service-background-color-27918 {
    background-color: rgb(67, 48, 64) !important;
}
.service-background-color-50000 {
    background-color: rgb(77, 139, 0) !important;
}
.service-background-color-50001 {
    background-color: rgb(192, 79, 220) !important;
}
.service-background-color-50002 {
    background-color: rgb(252, 173, 0) !important;
}
.service-background-color-50003 {
    background-color: rgb(154, 0, 0) !important;
}
.service-hover-color-light-25000:hover {
    color: rgba(142, 139, 255, 0.30) !important;
}
.service-hover-color-light-26190:hover {
    color: rgba(240, 66, 0, 0.30) !important;
}
.service-hover-color-light-26412:hover {
    color: rgba(0, 81, 142, 0.30) !important;
}
.service-hover-color-light-27718:hover {
    color: rgba(60, 210, 0, 0.30) !important;
}
.service-hover-color-light-27918:hover {
    color: rgba(67, 48, 64, 0.30) !important;
}
.service-hover-color-light-50000:hover {
    color: rgba(77, 139, 0, 0.30) !important;
}
.service-hover-color-light-50001:hover {
    color: rgba(192, 79, 220, 0.30) !important;
}
.service-hover-color-light-50002:hover {
    color: rgba(252, 173, 0, 0.30) !important;
}
.service-hover-color-light-50003:hover {
    color: rgba(154, 0, 0, 0.30) !important;
}
.service-hover-color-25000:hover {
    color: rgb(142, 139, 255) !important;
}
.service-hover-color-26190:hover {
    color: rgb(240, 66, 0) !important;
}
.service-hover-color-26412:hover {
    color: rgb(0, 81, 142) !important;
}
.service-hover-color-27718:hover {
    color: rgb(60, 210, 0) !important;
}
.service-hover-color-27918:hover {
    color: rgb(67, 48, 64) !important;
}
.service-hover-color-50000:hover {
    color: rgb(77, 139, 0) !important;
}
.service-hover-color-50001:hover {
    color: rgb(192, 79, 220) !important;
}
.service-hover-color-50002:hover {
    color: rgb(252, 173, 0) !important;
}
.service-hover-color-50003:hover {
    color: rgb(154, 0, 0) !important;
}
.service-hover-color-light-25000:focus {
    color: rgba(142, 139, 255, 0.30) !important;
}
.service-hover-color-light-26190:focus {
    color: rgba(240, 66, 0, 0.30) !important;
}
.service-hover-color-light-26412:focus {
    color: rgba(0, 81, 142, 0.30) !important;
}
.service-hover-color-light-27718:focus {
    color: rgba(60, 210, 0, 0.30) !important;
}
.service-hover-color-light-27918:focus {
    color: rgba(67, 48, 64, 0.30) !important;
}
.service-hover-color-light-50000:focus {
    color: rgba(77, 139, 0, 0.30) !important;
}
.service-hover-color-light-50001:focus {
    color: rgba(192, 79, 220, 0.30) !important;
}
.service-hover-color-light-50002:focus {
    color: rgba(252, 173, 0, 0.30) !important;
}
.service-hover-color-light-50003:focus {
    color: rgba(154, 0, 0, 0.30) !important;
}
.service-hover-color-25000:focus {
    color: rgb(142, 139, 255) !important;
}
.service-hover-color-26190:focus {
    color: rgb(240, 66, 0) !important;
}
.service-hover-color-26412:focus {
    color: rgb(0, 81, 142) !important;
}
.service-hover-color-27718:focus {
    color: rgb(60, 210, 0) !important;
}
.service-hover-color-27918:focus {
    color: rgb(67, 48, 64) !important;
}
.service-hover-color-50000:focus {
    color: rgb(77, 139, 0) !important;
}
.service-hover-color-50001:focus {
    color: rgb(192, 79, 220) !important;
}
.service-hover-color-50002:focus {
    color: rgb(252, 173, 0) !important;
}
.service-hover-color-50003:focus {
    color: rgb(154, 0, 0) !important;
}
.service-color-light-25000 {
    color: rgba(142, 139, 255, 0.30) !important;
}
.service-color-light-26190 {
    color: rgba(240, 66, 0, 0.30) !important;
}
.service-color-light-26412 {
    color: rgba(0, 81, 142, 0.30) !important;
}
.service-color-light-27718 {
    color: rgba(60, 210, 0, 0.30) !important;
}
.service-color-light-27918 {
    color: rgba(67, 48, 64, 0.30) !important;
}
.service-color-light-50000 {
    color: rgba(77, 139, 0, 0.30) !important;
}
.service-color-light-50001 {
    color: rgba(192, 79, 220, 0.30) !important;
}
.service-color-light-50002 {
    color: rgba(252, 173, 0, 0.30) !important;
}
.service-color-light-50003 {
    color: rgba(154, 0, 0, 0.30) !important;
}
.service-color-25000 {
    color: rgb(142, 139, 255) !important;
}
.service-color-26190 {
    color: rgb(240, 66, 0) !important;
}
.service-color-26412 {
    color: rgb(0, 81, 142) !important;
}
.service-color-27718 {
    color: rgb(60, 210, 0) !important;
}
.service-color-27918 {
    color: rgb(67, 48, 64) !important;
}
.service-color-50000 {
    color: rgb(77, 139, 0) !important;
}
.service-color-50001 {
    color: rgb(192, 79, 220) !important;
}
.service-color-50002 {
    color: rgb(252, 173, 0) !important;
}
.service-color-50003 {
    color: rgb(154, 0, 0) !important;
}
