#details-view-container,
#event-view-container {

  .back-button {
    position: relative;
    display: block;
    color: @text-color;
    background-color: @blue-lighter;
    margin-bottom: @sidebar-small-margin;
    padding: 8px 0 8px 40px;
    border-radius: @main-border-radius;
    .icon-icon-back {
      position: absolute;
      left: 12px;
      top: 5px;
    }
  }

  .content {
    overflow-y: auto;
    overflow-x: hidden;

    .details-image {
      width: 100%;
      margin-bottom: @sidebar-small-margin;
      border-radius: @main-border-radius;
    }

    #route-navigation {
      span {
        margin-right: 10px;
        display: inline-block;
      }
      .icon {
        width: 30px;
      }
      .mode {
        width: 80px;
      }
      .number {
        width: 40px;
        margin-right: 0px;
      }
      .leg-destination {
        margin-left: 118px;
      }
    }

    .section {
      position: relative;
      background-color: @white;
      padding: 8px 16px 8px 40px;
      margin-bottom: @sidebar-small-margin;
      border-radius: @main-border-radius;

      .collapser {
        display: block;
        position: relative;
        color: @text-color;
        line-height: 30px;
        padding: 8px 0;

        &:after {
          width: 20px;
          height: 20px;
          font-family: "service-map-icons";
          content: "\f107";
          color: @gray;
          font-size: 24px;
          position: absolute;
          right: 0;
          top: 0;
          line-height: 40px;
        }

        &.collapsed:after {
          content: "\f109";
        }

        &.disabled {
          cursor: default;
          &:after {
            display: none;
          }
        }

        h3 {
          margin: 0;
          span {
            position: absolute;
            left: -28px;
            color: @blue;
            font-size: 22px;
            vertical-align: middle;
          }
        }

        .short-text {
          color: @gray;
          position: absolute;
          right: 20px;
          top: 0;
          font-size: @font-size-base;
          line-height: 40px;
        }
      }

      .col-md-6 {
        word-wrap: break-word;
      }

      .section-content {
        margin-top: 16px;
      }

      ul {
        line-height: 20px;
        li {
          margin-bottom: 4px;
        }
      }
    }

    .section.picture {
      padding: 0;
      // div {
      //   height: 56px;
      //   padding: 0;
      //   overflow: hidden;
      //   &:after {
      //     color: @white;
      //     top: 9px;
      //     right: 16px;
      //   }
      // }
      img {
        width: 100%;
      }
      #picture-details {
        img {
//          margin-top: -56px;
        }
      }
    }

    .main-info {
      .collapser {
        border-bottom: 1px solid #ccc;
        margin-left: -26px;
        padding-bottom: 12px;
        &.collapsed {
          border-bottom: 1px solid @white;
        }

        &:after {
          top: 9px;
        }

        .icon-icon-events {
          font-size: 34px;
          margin-top: 4px;
          color: @blue;
          position: absolute;
        }
        canvas {
          position: absolute;
          width: 36px;
          height: 32px;
          left: -6px;
          top: 10px;
        }
        .color-ball {
          position: absolute;
          left: 14px;
          top: 16px;
          width: 16px;
          height: 16px;
        }

        .icon-icon-close {
          float: right;
          cursor: pointer;
        }
        h2 {
          margin: 0;
          padding-left: 42px; // Space for the calendar icon.
          padding-right: 22px; // Space for the collapse icon.
          font-size: 19px;
          min-height: 42px;
          line-height: 42px;
          span {
            line-height: 20px;
            display: inline-block;
            vertical-align: middle;
          }
        }
      }
      #main-info-details {
        margin-top: 4px;
        padding-top: 16px;

        div {
          margin-bottom: 12px;
        }
        .time, .departments {
          color: @gray;
        }
        .departments {
          font-size: 14px;
        }
        address {
          margin-bottom: 0;
        }
        .contact-info {
          color: @blue;
        }
        .highlights p {
          margin-bottom: 4px;
        }
      }
    }

    #events-details {
      .clearfix();
      ul.events {
        list-style: none;
        margin: 0 0 12px 0;
        padding: 0;
        width: 100%;
        > li {
          .clearfix();
          padding: 8px 0;
          margin: 0;
          border-bottom: 1px solid #ddd;
          min-height: 57px;
          .time {
            color: @gray;
            width: 35%;
            float: left;
          }
          .name {
            width: 65%;
            float: left;
            padding-left: 16px;
            a {
              color: @blue;
            }
          }
          .icon-icon-outbound-link {
            margin-left: 4px;
          }
        }
      }
      .show-more-events {
        position: relative; // Needed for spinner placement.
        text-align: center;
        color: @gray;
        display: block;
        margin-bottom: 8px;
      }
    }

    #web-services-details {
      ul {
        padding: 0;
      }
    }
  }
}
