#details-view-container,
#event-view-container {
  background-color: transparent !important;

  .header {
    position: fixed;
    z-index: 10;
    top: @map-control-sm-margin;
    left: 8px;
    right: 8px;
    .transition(top 0.3s);
  }

  .back-button {
    position: relative;
    display: block;
    color: @text-color;
    background-color: @blue-lighter;
    margin-bottom: @sidebar-small-margin;
    padding: 8px 0 8px 40px;
    border-radius: @main-border-radius;
    .icon-icon-back {
      position: absolute;
      left: 12px;
      top: 5px;
    }
  }

  .mobile-header {
    position: relative;
    padding: 0 12px;
    box-sizing: border-box;
    background-color: @white;

    .header-content {
      position: relative;
      margin-bottom: -1px;
      padding: 12px 0;
      border-bottom: 1px solid #ccc;

      canvas {
        top: 16px;
      }
    }
  }

  .mobile-header,
  .content .main-info .collapser,
  .content .main-info .header {
    .icon-icon-events,
    .icon-icon-address,
    .icon-icon-you-are-here {
      font-size: 34px;
      margin-top: 4px;
      color: @blue;
      position: absolute;
    }

    canvas {
      position: absolute;
      width: 36px;
      height: 32px;
      left: -6px;
      top: 10px;
    }

    .icon-icon-close {
      float: right;
      cursor: pointer;
      color: @gray;
      font-size: 20px;
    }

    h2 {
      margin: 0;
      padding-left: 42px; // Space for the calendar icon.
      padding-right: 22px; // Space for the collapse icon.
      font-size: 19px;
      min-height: 42px;
      line-height: 42px;
      span {
        line-height: 20px;
        display: inline-block;
        vertical-align: middle;
      }
    }
  }

  .content {
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch; // Makes iOS use momentum scrolling.
    margin-top: 25px;

    .map-active-area {
      width: 100%;
      // The map active area height should be 40% of the screen width.
      height: 0;
      padding-bottom: 40%;
      background-color: rgba(255, 255, 255, 0); // Needed for the click events to work on IE.
    }

    .image-wrapper {
      position: relative;
    }

    .details-image {
      width: 100%;
      margin-bottom: @sidebar-small-margin;
      border-radius: @main-border-radius;
    }

    .details-image-caption {
      font-size: 60%;
      position: absolute;
      bottom: 0px;
      left: 0px;
      color: white;
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 10px;
      letter-spacing: 1px;
      text-shadow: 1px 1px black;
    }

    #route-navigation {
      span {
        margin-right: 10px;
        display: inline-block;
      }
      .icon {
        width: 30px;
      }
      .mode {
        width: 80px;
      }
      .number {
        width: 40px;
        margin-right: 0px;
      }
      .leg-destination {
        margin-left: 118px;
      }
    }

    .section {
      position: relative;
      background-color: @white;
      padding: 8px 16px 8px 40px;
      margin-bottom: @sidebar-small-margin;
      border-radius: @main-border-radius;

      .col-md-6 {
        word-wrap: break-word;
      }

      .section-content {
        margin-top: 16px;
      }

      ul {
        line-height: 20px;
        li {
          margin-bottom: 4px;
        }
      }
    }

    .section.picture {
      padding: 0;
      // div {
      //   height: 56px;
      //   padding: 0;
      //   overflow: hidden;
      //   &:after {
      //     color: @white;
      //     top: 9px;
      //     right: 16px;
      //   }
      // }
      img {
        width: 100%;
      }
      #picture-details {
        img {
//          margin-top: -56px;
        }
      }
    }

    .main-info {
      .collapser,
      .header {
        display: none;
        position: relative;
        border-bottom: 1px solid #ccc;
        margin-left: -26px;
        padding: 8px 0 12px;
        &.collapsed {
          border-bottom: 1px solid @white;
        }

        &:after {
          top: 9px;
        }

        .icon {
          font-size: 34px;
          margin-top: 4px;
          position: absolute;
          &.icon-icon-events {
            color: @blue;
          }
          &.icon-icon-address {

          }
          &.icon-icon-you-are-here {
            color: @blue;
          }
        }

        canvas {
          position: absolute;
          width: 36px;
          height: 32px;
          left: -6px;
          top: 10px;
        }

        .icon-icon-close {
          float: right;
          cursor: pointer;
          color: @gray;
          font-size: 20px;
        }

        h2 {
          margin: 0;
          padding-left: 42px; // Space for the calendar icon.
          padding-right: 22px; // Space for the collapse icon.
          font-size: 19px;
          min-height: 42px;
          line-height: 42px;
          span {
            line-height: 20px;
            display: inline-block;
            vertical-align: middle;
          }
        }
      }

      .description {
        .body {
          display: none;
        }
        .body-expander {
          display:block;
          white-space: no-wrap;
        }
      }

      #main-info-details {
        margin-top: 4px;
        padding-top: 16px;

        div {
          margin-bottom: 12px;
        }
        .time, .departments {
          color: @gray;
        }
        .departments {
          font-size: 14px;
        }
        address {
          margin-bottom: 0;
        }
        .contact-info {
          color: @blue;
        }
        .highlights p {
          margin-bottom: 4px;
        }
      }
    }

    ul.sublist {
        list-style: none;
        margin: 0 0 12px 0;
        padding: 0;
        width: 100%;
        > li {
          .clearfix();
          padding: 8px 0;
          margin: 0;
          border-top: 1px solid #ddd;
          min-height: 57px;
        }
    }

    #events-details {
      .clearfix();
      ul.events {
        list-style: none;
        margin: 0 0 12px 0;
        padding: 0;
        width: 100%;
        > li {
          .clearfix();
          padding: 8px 0;
          margin: 0;
          border-bottom: 1px solid #ddd;
          min-height: 57px;
          .time {
            color: @gray;
            width: 35%;
            float: left;
          }
          .name {
            width: 65%;
            float: left;
            padding-left: 16px;
            a {
              color: @blue;
            }
          }
          .icon-icon-outbound-link {
            margin-left: 4px;
          }
        }
      }
      .show-more-events {
        position: relative; // Needed for spinner placement.
        text-align: center;
        color: @gray;
        display: block;
        margin-bottom: 8px;
      }
    }

    #web-services-details {
      ul {
        padding: 0;
      }
    }
  }
  .route-spinner {
    height: 40px;
    position: relative; // Needed for spinner placement.
    text-align: center;
    color: @gray;
    display: block;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  &.minimized {
    .header .mobile-header:hover {
      cursor: pointer;
    }

    .content {
      display: none;
    }
  }
}


// Small devices (tablets, 768px and up)
// -------------------------------------

@media (min-width: @screen-sm-min) {
  #details-view-container,
  #event-view-container {
    background-color: rgba(0, 0, 0, 0.15) !important;

    .header {
      position: static;
    }

    .mobile-header {
      display: none;
    }

    .content {
      margin-top: 0;
      .map-active-area {
        display: none;
      }

      .main-info .collapser,
      .main-info .header {
        display: block;
      }
    }
  }

  &.minimized {
    .content {
      display: block;
    }
  }
}
