.color-ball {
  float: left;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 6px 8px 0 0;
}

#search-results .search-result .icon {
  margin: 6px 8px 0 0;
  font-size: 12px;
}

.show-button {
  position: absolute;
  top: 16px;
  right: 32px;
  color: @show-btn-color;
  background-color: @white;
  border: 1px solid @show-btn-color;
  border-radius: @show-btn-radius;
  min-width: 60px;
  padding: 4px 8px;
  font-size: 80%;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  display: block;
   &:hover {
    text-decoration: none;
    background-color: @gray-lighter;
  }
  &:focus {
    text-decoration: none;
  }
  &.selected {
    color: @white;
    background-color: @default-service-color;
    border: none;
  }
}

.ok-button {
  position: absolute;
  top: 16px;
  right: 16px;
  color: @white;
  background-color: @blue;
  border-radius: @show-btn-radius;
  min-width: 60px;
  padding: 4px 8px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  display: block;
   &:hover {
    text-decoration: none;
    color: @white;
    background-color: @blue-light;
  }
  &:focus {
    text-decoration: none;
  }
}
