#area-emergency-units-placeholder {
  .emergency-units-container {
    border-bottom: 1px solid #ddd;
    margin-bottom: 5px;
    margin-top: 15px;
  }
  ul.unit-list.sublist {
    > li {
      border-bottom: none;
      line-height: 18px;
      margin-bottom: 8px;
      min-height: auto;
      padding: 0;
      .title {
        font-weight: normal;
      }
    }
  }
}

