// Unified styles for forward and backward icons.
.icon-icon-back,
.icon-icon-back-bold,
.icon-icon-forward,
.icon-icon-forward-bold {
  font-size: 22px;
  color: @gray;
  position: absolute;
  left: 8px;
  top: 16px;
}

// The height reserved for icon-back is smaller than that of icon-forward.
.icon-icon-back,
.icon-icon-back-bold {
  top: 19px;
}

// Vertically aligns one or more rows of text inside the span of this element.
.vertically-aligned {
  min-height: 45px;
  line-height: 45px;
  span {
    line-height: 20px;
    display: inline-block;
    vertical-align: middle;
  }
}

// You're here icon
.servicemap-div-icon {
  font-size: 40px;
  line-height: 40px;
  & .icon-icon-you-are-here {
    color: @gray;
  }
  & .icon-icon-you-are-here {
    color: @blue;
  }
}

// Transit colors

.transit-default-color {
  color: @blue;
}

.transit-tram-color {
  color: @transit-tram-color;
}

.transit-subway-color {
  color: @transit-subway-color;
}

.transit-rail-color {
  color: @transit-rail-color;
}

.transit-ferry-color {
  color: @transit-ferry-color;
}

.transit-walk-color,
.transit-bicycle-color,
.transit-car-color {
  color: @transit-walk-color;
}

.transit-default-background-color {
  background-color: @blue;
}

.transit-tram-background-color {
  background-color: @transit-tram-color;
}

.transit-subway-background-color {
  background-color: @transit-subway-color;
}

.transit-rail-background-color {
  background-color: @transit-rail-color;
}

.transit-ferry-background-color {
  background-color: @transit-ferry-color;
}

.transit-walk-background-color,
.transit-bicycle-background-color,
.transit-car-background-color {
  background-color: @transit-walk-color;
}

.transit-default-border-color {
  border-color: @blue !important;
}

.transit-tram-border-color {
  border-color: @transit-tram-color !important;
}

.transit-subway-border-color {
  border-color: @transit-subway-color !important;
}

.transit-rail-border-color {
  border-color: @transit-rail-color !important;
}

.transit-ferry-border-color {
  border-color: @transit-ferry-color !important;
}

.transit-walk-border-color,
.transit-bicycle-border-color,
.transit-car-border-color {
  border-color: @transit-walk-color !important;
}

//o Link with descriptive text
// and a prominent gray rounded background box.
.set-accessibility-profile.prominent,
#service-cart .layer-option,
#feedback-details .send-feedback
{
  display: block;
  text-align: center;
  margin-bottom: 16px;
  padding: 16px 32px;
  background-color: @gray-lighter;
  color: @blue;
  border-radius: 24px;
}

.settings-container .settings-controllers .mode-switch,
#tour-region button
{
  margin-right: 4px;
  padding: 0 8px;
  line-height: @route-line-height;
  border-radius: 12px;
  color: @text-color;
  border: none;

  &:hover {
    cursor: pointer;
    background-color: @blue-lighter;
  }

  &.selected {
    color: @blue;
    background-color: @blue-lighter;
    &:hover {
    }
  }
}

//
// Focus states
// ------------------------------

ul.main-list li {
  &:focus{

    div {
      .tab-focus();
    }

    span.service-node-name {
      .inline-element-focus();
      text-decoration: underline;
    }

    a div {
      .clear-focus();
    }
  }

  // Don't add focus to programmatically added focuses
  &.autofocus{
    &:focus{
      div, span.service-node-name {
        .clear-focus();
      }
    }
  }
}


#browse-region:focus {
  .tab-focus();
}

#search-region:focus {
  .tab-focus();
}

// Main search-input focus
#search-region .tt-input:focus {
  outline: none !important;
  box-shadow: 0 0 0 2px #fff !important;
  border-color: #0065d9 !important;
  transition: box-shadow 0.25s;
}


a:focus {
  text-decoration: none;
}
