#persistent-logo {
  .title-control {
    margin: 10px;
    position: absolute;
    bottom: 0px;
    right: 40px;

    img {
      height: @logo-height;
    }
  }

}

#map {
  .leaflet-control-attribution {
    display: none;
  }
  .leaflet-control-zoom {
    box-shadow: none;

    a {
      height: 30px;
      color: @gray;
    }

    a.leaflet-control-zoom-in {
      border-top-left-radius: @main-border-radius;
      border-top-right-radius: @main-border-radius;
    }

    a.leaflet-control-zoom-out {
      border-bottom-left-radius: @main-border-radius;
      border-bottom-right-radius: @main-border-radius;
      padding-top: 4px;
    }
  }
}
