#personalisation {
  .personalisation-container {
    position: relative;

    .personalisation-header {
      .selected-personalisations {
        display: none;
        margin-right: 4px;
        font-size: 18px;
        line-height: 40px;
        color: @gray;
        text-shadow: @white-glow;
      }

      .personalisation-button {
        display: inline-block;
        width: @map-control-icon-width;
        height: @map-control-icon-width;
        line-height: @map-control-icon-width;
        background-color: @blue;
        color: @white;
        border-radius: 50%;
        text-align: center;
        .transition(width 0.3s ease-out);
        &:hover {
          color: @gray-lighter;
        }

        span {
          font-size: 20px;
          vertical-align: middle;
        }
      }

      .text {
        display: none;
        font-weight: @font-bold-weight;
      }

      .ok-button {
        display: none;
      }
    }

    .personalisation-content {
      display: none;
      overflow-y: auto;
      overflow-x: hidden;
      -webkit-overflow-scrolling: touch; // Makes iOS use momentum scrolling.

      .section {
        min-width: 50px;
        padding: 12px;
        background-color: @white;
        border-radius: @main-border-radius;
      }

      .section + .section {
        margin-top: @sidebar-small-margin;
      }

      h3 {
        margin: 0;
      }

      .location-controls {
        margin: 16px 0;
        .clearfix();

        .input-container {
          float: left;
          width: 65%;

          input {
            width: 100%;
            height: 40px;
            padding: 8px;
            border-top: 1px solid #cccccc;
            border-left: 1px solid #cccccc;
            border-radius: 18px;
            background-color: @gray-lighter;
            color: @text-color;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25);
            .placeholder(@gray-light);
            &:focus {
              border: 1px solid #cccccc;
            }
          }
        }

        .link-container {
          float: left;
          width: 35%;
          padding-left: 16px;
          line-height: 20px;
          a {
            color: @blue;
          }
        }
      }
    }
  }

  .personalisation-message {
    position: absolute;
    right: 0;
    width: 320px;
    margin-top: 20px;

    // Settings for the very small mobile devices.
    @media (max-width: 320px) {
      width: 220px;
    }

    &.sm-popup {
      display: none; // Visible only on landing page with class open.
    }

    .arrow.top  {
      left: auto;
      right: 9px;
    }
  }
}

#personalisation.open {
  z-index: 2000;
  left: 0;
  right: 0;
  top: 0;

  .personalisation-container {

    .personalisation-header {
      margin-bottom: @sidebar-small-margin;
      padding: 8px 4px;
      background-color: @blue-lighter;
      border-radius: @main-border-radius;

      .selected-personalisations {
        display: none;
      }

      .personalisation-button {
        background-color: @blue-lighter;
        cursor: default;
        color: @blue;
        &:hover {
          color: @blue;
        }
        &:focus {
          outline: none;
        }
      }
      .text {
        display: inline;
      }

      .ok-button {
        display: block;
      }
    }

    .personalisation-content {
      display: block;
    }
  }
}

#personalisation.hidden {
  display: block !important;  // Override bootstrap defaults.
  visibility: visible !important;  // Override bootstrap defaults.
  .personalisation-container .personalisation-header .personalisation-button {
    width: 0;
    .icon-icon-personalise {
      display: none;
    }
  }
}

.personalisations {
  list-style: none;
  margin: 0 0 0 -8px;
  padding: 0;
  .clearfix();
  overflow-x: auto;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; // Makes iOS use momentum scrolling.
  white-space: nowrap;

  // The coat of arms icons are not vertically aligned.
  &.coats-of-arms > li .icon {
    padding-top: 4px;
  }

  > li {
    display: inline-block;
    vertical-align: top;
    width: 108px;
    margin-left: 8px;
    text-align: center;
    font-size: @font-size-base;
    font-weight: @font-normal-weight;
    color: @gray;

    .icon {
      width: 48px;
      height: 48px;
      line-height: 48px;
      margin: 8px auto 4px;
      border-radius: 50%;
      font-size: 30px;
      color: @gray;
    }

    span {
      display: block;
      white-space: normal;
    }

    &.selected {
      a {
        color: @blue;
      }
      .icon {
        background-color: @blue-lighter;
      }
      span {
        color: @blue;
      }
    }
  }
}


// Small devices (tablets, 768px and up)
// -------------------------------------

@media (min-width: @screen-sm-min) {
  #personalisation .personalisation-container .personalisation-header {
    .selected-personalisations {
      display: inline-block;
      vertical-align: middle;
    }
  }

  #personalisation.open {
    left: inherit;
    bottom: inherit;
    top: @map-control-sm-margin;
    right: @map-control-sm-margin;

    .personalisation-container {
      width: @sidebar-width;
      background-color: @background-darkening;
    }
  }

  #personalisation.hidden {
    .personalisation-container .personalisation-header .personalisation-button {
      width: @map-control-icon-width;
      .icon-icon-personalise {
        display: block;
      }
    }
  }

  .personalisations {
    margin-left: -2%;

    > li {
      width: 23%;
      margin-left: 2%;
    }
  }
}


// Medium devices (desktops, 992px and up)
// ---------------------------------------

@media (min-width: @screen-md-min) {
  #personalisation.open {
    left: inherit;
    bottom: inherit;
    top: @map-control-top-margin;
    right: @map-control-horizontal-margin;

    .personalisation-container {
      width: @sidebar-width;
    }
  }
}
