.personalisation-icon {
    display: block;
    width: @sidebar-header-closed-width;
    height: @sidebar-height;
    line-height: @sidebar-height;
    background-color: @white;
    color: @blue;
    border-radius: @main-border-radius;

    &:hover {
        color: @blue-light;
    }

    span {
        font-size: 32px;
        vertical-align: middle;
        margin-left: 4px;
    }
}
