.leaflet-popup {
  // Override styles set automatically by Leaflet.
  left: 0 !important;
  bottom: 6px !important;
  margin-left: 20px;

  .leaflet-popup-content-wrapper.selected {
    font-weight: bold;
  }
  .leaflet-popup-content-wrapper {
    background: transparent;
    box-shadow: none;

    .leaflet-popup-content {
      width: 500px !important;
      margin: 13px 19px 13px 0;

      .unit-name {
        font-size: 16px;
        text-shadow: -1px 0 5px #fff, 0 1px 5px #fff, 1px 0 5px #fff, 0 -1px 5px #fff;
      }
    }
  }
  .leaflet-popup-tip-container {
    display: none;
  }
}
