@route-selector-border-radius: 12px;
@current-position-border-radius: 6px;
@route-line-height: 27px;
@control-input-padding: 4px 4px 0;

#route-details {
  margin-left: -24px;

  .col-xs-2, .col-xs-9 {
    line-height: @route-line-height;
  }

  .col-xs-2 {
    padding-right: 0;
    text-align: center;
  }

  .route-settings-summary {
    display: block;
    padding: 8px 0;
    border-top: @border-light;
    border-bottom: @border-light;

    .separator {
      margin: 0 4px;
      font-size: 20px;
    }

    .icons {
      float: right;
      line-height: 19px;
    }
  }

  .route-selector {
    list-style: none;
    margin: 0;
    padding: 8px 0;
    border-bottom: @border-light;
    .clearfix();

    > li {
      margin-bottom: 0 !important;
      border: 1px solid @text-color;
      float: left;
      width: 100% / 3;
      text-align: center;

      &.selected a {
        background-color: @blue-lighter;
      }

      &:first-child, &:first-child a {
        border-top-left-radius: @route-selector-border-radius;
        border-bottom-left-radius: @route-selector-border-radius;
      }

      &:last-child, &:last-child a {
        border-top-right-radius: @route-selector-border-radius;
        border-bottom-right-radius: @route-selector-border-radius;
      }

      a {
        display: block;
        padding: 4px 16px;

        &:hover {
          background-color: @blue-lighter;
        }
      }
    }

    li + li {
      border-left: none;
    }
  }

  .route-info {
    margin-bottom: 12px;
    padding: 8px 0;
    border-bottom: @border-light;

    .show-map {
      float: right;
      color: @blue;
    }
  }

  .leg, .end {
    position: relative;

    .bold {
      font-weight: @font-bold-weight;
    }

    .collapser:after {
      // TODO: Come up with some better solution to overriding and centering
      // the expansion icon.
      top: 3px !important;
    }

    .has-warnings:before {
      font-family: "service-map-icons";
      content: "\f120";
      color: #000;
      background-color: #fff;
      font-size: 20px;
      position: absolute;
      left: 62px;
      top: 12px;
      line-height: 21px;
      display: none;
    }

    .collapsed.has-warnings:before {
      display: block;
    }

    .leg-content {
      margin-top: -6px;
      padding-bottom: 2px;
    }

    .transit-row .col-sm-9 {
      padding-right: 35px;
    }

    .leg-icon {
      text-align: center;
      .icon {
        font-size: 22px;
      }
    }

    .leg-end-point {
      position: absolute;
      left: 56px;
      font-size: 32px;
      bottom: -11px;
    }

    .steps {
      padding-left: 100px;
      .step {
        position: relative;
        margin-bottom: 8px;
        line-height: 20px;
        color: @gray;

        .warning {
          color: #ff0000;
          &:before {
            font-family: "service-map-icons";
            content: "\f120";
            color: #000;
            background-color: #fff;
            font-size: 20px;
            position: absolute;
            left: -38px;
            top: 0;
            line-height: 21px;
          }
        }
      }
    }
  }

  .leg {
    .leg-start-point {
      position: absolute;
      top: 9px;
      left: 67px;
      width: 11px;
      height: 11px;
      border-radius: 50%;
      border: 3px solid;
      background-color: #fff;
    }

    .leg-line {
      position: absolute;
      top: 12px;
      bottom: -6px;
      left: 70px;
      width: 4px;
      border-radius: 8px;
    }

    &.last-leg {
      .leg-line {
        bottom: -20px;
      }
    }

    .distance {
      float: right;
      color: lighten(@gray, 20%);
      padding-right: 24px;
    }
  }

  .accessibility-viewpoint {
    display: block;
    margin-top: 12px;
    padding-top: 12px;
    border-top: @border-light;

    .icon {
      font-size: 20px;
      padding-right: 2px;
    }
  }
}


@media (min-width: @screen-sm-min) {
  #route-details {
    .route-info .show-map {
      display: none;
    }
  }
}
