#route-details.settings-open {
  .settings-summary {
    display: none;
  }
  .header-row {
    display: block;
  }
  .settings-content {
    display: block;
  }
}

.route-settings {
  background-color: @white;

  .settings-summary {
    display: block;
    padding: 8px 0;
    border-top: @border-light;
    border-bottom: @border-light;

    .separator {
      margin: 0 4px;
      font-size: 20px;
    }

    .icons {
      float: right;
      line-height: 19px;
    }
  }

  .header-row {
    display: none;
    position: relative;
    margin-bottom: 8px;
    border-top: @border-light;

    h3 {
      margin: 0;
      padding: 8px 0;
      line-height: 24px;
      border-bottom: none;
    }

    .ok-button {
      top: 8px;
      right: 0;
    }
  }

  .icon-icon-settings {
    font-size: 18px;
  }

  h3 {
    margin-top: 24px;
    margin-bottom: 12px;
    color: @gray;
    padding-bottom: 8px;
    border-bottom: @border-light;
  }

  .settings-content {
    display: none;
  }

  .route-controllers {
    .row {
      margin-bottom: 4px;
    }

    .col-sm-9 {
      padding-left: 0;
    }

    .col-sm-3, .col-sm-9 {
      line-height: @route-line-height;
    }

    position: relative;
    padding-right: 28px;

    &.de-emphasized {
      opacity: 0.7;
    }

    .preset {
      padding: 1px 0px;
    }

    .preset-location, .preset-current-time, .time-mode  {
      position: relative;
      font-style: italic;
      line-height: @route-line-height;
      text-overflow: ellipsis;

      &.unlocked:hover {
        cursor: pointer;
        background-color: @blue-lighter;
      }
      &.locked:hover {
        cursor: default;
      }

      .close-button {
        position: absolute;
        right: 4px;
        top: 1px;
      }

      .icon {
        position: absolute;
        top: 0;
        left: 0;
        float: none;
        line-height: @route-line-height;
      }

      .icon-icon-you-are-here {
        color: @blue;
        font-size: 18px;
      }

      .color-ball {
        margin: 8px 0 0 4px;
      }

      .endpoint-name {
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;
        width: 100%;
        padding-left: 20px;
        position: absolute;
        right: 0;
        top: 0;
      }
    }

    .time-mode, .preset-current-time {
      float: left;
      font-style: normal;
    }

    .time-mode {
      line-height: @route-line-height;
      font-style: normal;
    }

    .preset-current-time {
      height: @route-line-height;
      line-height: @route-line-height;
      &:hover {
        background-color: @blue-lighter;
      }
    }

    .input-wrapper {
      border-bottom: 1px solid @gray;
    }

    input {
      border: none;
      height: @route-line-height;

      &.endpoint {
        width: 100%;
      }

      &.time, &.date {
        padding: 0;
        &:hover {
          background-color: @blue-lighter;
        }
      }

      &:focus {
        outline: 0;
        outline-color: white;
      }
    }

    .switch-end-points {
      position: absolute;
      top: 14px;
      right: -3px;
      .icon-icon-vice-versa {
        font-size: 22px;
        color: @gray;
      }
    }

    .transit-time {
      .input-wrapper {
        float: left;
        margin-right: 6px;
      }
    }
  }

  .set-accessibility-profile {
    float: right;
  }
}
