#route-details.settings-open {
  .settings-summary {
    display: none;
  }
  .settings-header {
    display: block;
  }
  .settings-content {
    display: block;
  }
  .endpoint-inputs {
    display: block;

    .actions {
      display: none;
    }
  }
}

.endpoint-inputs {
  .actions {
    padding: 8px 0;
  }

  .ok-button {
    display: inline-block;
  }

  .settings-button,
  .detect-current-location {
    text-transform: none;
  }

  .transit-endpoints {
    position: relative;
    margin-bottom: 8px;

    .swap-endpoints {
      .icon-icon-forward {
        @media (max-width: @screen-xs-max) {
          top: 32px;
          &:before {
            content: "\f12f";
          }
        }

        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -12px;
        font-size: 24px;
        color: @gray;
      }
    }
  }

  .transit-start {
    @media (max-width: @screen-xs-max) {
      margin-bottom: 40px;
    }

    padding-right: 20px;
  }

  .transit-end {
    padding-left: 20px;
  }

  input {
    &[type="text"].tt-input {
      width: auto;
      overflow-y: visible;
      overflow-x: visible;
      background-color: @white !important;

      &:focus {
        background-color: @blue-lighter !important;
      }

      &.unlocked:hover {
        cursor: pointer;
        background-color: @blue-lighter !important;
      }
    }

    border: none;
    height: @route-line-height;
    border-bottom: 1px solid @gray;
  }
}

.route-settings {
  background-color: @white;

  .settings-header-row {
    position: relative;
    padding: 8px 0;
    padding-left: 24px;
    border-bottom: @border-light;

    .icon-icon-settings {
      position: absolute;
      top: 8px;
      left: 0;
      font-size: 18px;
    }
  }

  .settings-header {
    .settings-header-row;
    display: none;

    h3 {
      margin: 0;
      line-height: 24px;
      border-bottom: none;
    }

    .ok-button {
      position: absolute;
      top: 8px;
      right: 0;
    }
  }

  h3 {
    margin-top: 24px;
    margin-bottom: 8px;
    color: @gray;
    padding-bottom: 8px;
    border-bottom: @border-light;
  }

  .settings-content {
    display: none;
    padding-top: 8px;
  }

  .route-controllers {
    .row {
      margin-bottom: 8px;
    }

    .input-wrapper {
      border-bottom: 1px solid @gray;
    }

    input {
      &.time,
      &.date {
        padding: 0;
        &:hover {
          background-color: @blue-lighter;
          cursor: pointer;
        }
      }

      &:focus {
        outline: 0;
        outline-color: white;
      }
    }

    .preset {
      position: relative;
      height: @route-line-height;
      line-height: @route-line-height;
      text-overflow: ellipsis;

      &:hover {
        cursor: pointer;
        background-color: @blue-lighter;
      }
      &.unlocked {
        color: @blue;
      }
      &.locked:hover {
        cursor: default;
        background-color: transparent;
      }
    }

    .time-mode {
      float: left;
    }

    .transit-time {
      .input-wrapper {
        float: left;
        margin-left: 8px;
      }
    }
  }

  .accessibility-viewpoint-part {
    .icon {
      font-size: 19px;
    }

    .set-accessibility-profile {
      float: right;
      line-height: 27px;
    }
  }

  .personalisations {
    margin-bottom: 24px;
    > li {
      .icon {
        width: 42px;
        height: 42px;
        line-height: 42px;
        margin-top: 0;
        font-size: 24px;
      }
      .text {
        font-size: 14px;
      }
    }
  }

  .transport-details {
    position: relative;
    overflow: visible;
    padding-top: 16px;
    border-top: @border-light;

    .arrow.top {
      left: 62.5%;
      border-bottom: @popup-arrow-height solid @border-color;
      &:before {
        content: " ";
        position: absolute;
        border-left: (@popup-arrow-width / 2) solid transparent;
        border-right: (@popup-arrow-width / 2) solid transparent;
        border-bottom: @popup-arrow-height solid #fff;
        top: 2px;
        margin-left: -(@popup-arrow-width / 2);
      }
    }
  }

  .public-details {
    > li {
      width: 18%;
    }
    > li + li {
      margin-left: 10% / 4;
    }
  }

  .bicycle-details {
    &.no-arrow {
      .arrow.top {
        display: none;
      }
    }

    > li {
      width: 49%;
      padding: 8px 12px;
      text-align: left;
      border-radius: 16px;

      &.selected {
        background-color: @blue-lighter;
      }
    }

    > li + li {
      margin-left: 2%;
    }

    .arrow.top {
      left: 37%;
    }
  }
}
