#service-cart.overlay {

  // todo: refactor all customization
  // icons into a separate layout.
  ul.minimized {
    width: 40px;
    height: 40px;
    li {
      padding: 0;
      background-color: white;
      width: 40px;
      min-height: 40px;
      height: 40px;
      line-height: 40px;
      border-radius: 50%;
      .icon-icon-map-options {
        padding-left: 6px;
        padding-top: 2px;
        font-size: 28px;
        color: @gray;
        &:hover {
          color: @gray-light;
        }
      }
    }
  }
  ul.expanded {
    width: 250px;
    li {
      position: relative;
      clear: both;
      background-color: @white;
      border-radius: 2px;
      min-height: 40px;
      a {
        width: 200px;
      }
      a.layer {
        width: 100%;
      }
      .service-name {
        font-weight: bold;
        margin-left: 30px;
        margin-right: 30px;
        width: 185px;
      }
      .color-ball, .layer-icon {
        float: left;
        margin-top: 2px;
        margin-right: 8px;
        margin-left: 0px;
      }
      .button {
        position: absolute;
        right: 8px;
        top: 8px;
      }
    }
  }
  ul {
    border-radius: 2px;
    li.info-box {
      position: relative;
      height: 40px;
      min-height: 40px;
      background-color: @blue-lighter;
      color: @gray;
      cursor: auto;
      &:hover {
        background-color: @blue-lighter;
      }
      .button {
        position: absolute;
        right: 8px;
      }
    }
    li {
      padding: 8px 12px;
      background-color: transparent;
      border-radius: 0;
      position: static;
      a {
        display:block;
      }
      .collapser {
        padding: 0;
        .layer-name {
          margin-left: 30px;
          //        width: 100% !important;
        }
        .layer-name {
          padding-top: 6px;
          padding-bottom: 4px;
          border-bottom: 2px solid @blue-lighter;
        }
        &.collapsed .layer-name {
          border-bottom: none;
        }

      }
      .color-ball, .layer-icon {
        float: none;
        margin: 0 8px;
        height: 16px;
        width: 16px;
      }
      #layer-options .layer-option {
        margin-top: 10px;
        margin-left: 30px;
        padding: 6px;
      }
    }
  }
}
