@import "bootstrap/bootstrap.less";
@import "variables.less";

@import "details.less";
@import "elements.less";
@import "general.less";
@import "map-controls.less";
@import "personalisation.less";
@import "popup.less";
@import "service-sidebar.less";
@import "service-cart.less";
@import "title-bar.less";
@import "service-tree.less";
@import "typeahead.less";
@import "typography.less";

html, body, #map {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

body {
  overflow: hidden;
}

#app-container {
  width: 100%;
  height: 100%;
}
