@import "typeahead-bs3.less";

body {
    height: 100%
}

#app-container {
     width: 100%;
     height: 100%;
}


#map {
     width: 100%;
     height: 100%;
}

#map .leaflet-control-container .title-control {
     text-shadow: 2px 2px #ffffff;
}

#map .leaflet-control-container ul.service-tree {
     li.panel.panel-default {
        margin-bottom: 2px !important;
     }
}