.service-sidebar {
  font-family: @font-family-base;
  .container {
    width: @service-tree-width;
    font-size: @font-size-base;

    .contents {
      overflow-y: scroll;
      clear: both;
    }
  }

  .header {
    position: relative;
    float: left;
    box-sizing: border-box;
    padding: 8px 16px;
    width: 49%;
    max-height: 40px;
    background-color: @blue;
    color: @white;
    border-radius: 2px;
    overflow: hidden;
    white-space: nowrap;
    .transition(all 0.3s ease-out);
    &:hover {
      text-decoration: none;
    }

    .text {
      margin-left: 8px;
    }

    input {
      width: 125px;
      display: inline-block;
      margin-left: 8px;
      height: 24px;
      border-radius: 10px;
      background-color: @white;
      color: #000;
      .transition(all 0.3s ease-out);
    }

    .close-button {
      display: none;
      position: absolute;
      top: 8px;
      right: 8px;
      background-color: transparent;
      border: none;
      color: @white;
      font-size: 20px;
      line-height: 28px;
      &:hover {
        color: lighten(@gray, 15%);
      }
    }
  }
  .header + .header {
    margin-left: 2%;
  }

  .browse-open {
    .browse {
      width: 85%;
      background-color: @blue-light;

      .close-button {
        display: block;
      }
    }

    .search {
      width: 13%;
      input {
        width: 0;
        padding: 0;
        border: none;
      }
    }

    #service-tree-container ul {
      display: block;
    }
  }

  .search-open {
    .search {
      width: 85%;
      background-color: @blue-light;
      overflow: visible;
      white-space: normal;

      input {
        width: 220px;
      }

      .close-button {
        display: block;
      }
    }
    .browse {
      width: 13%;
      .text {
        display: none;
      }
    }
  }

  .details-open {
    #details-view-container {
      display: block;
    }

    #service-tree-container {
      display: none;
    }
  }
}
