@import "bootstrap/bootstrap.less";
@import "variables.less";

@import "accessibility.less";
@import "details.less";
@import "elements.less";
@import "general.less";
@import "map-controls.less";
@import "personalisation.less";
@import "popup.less";
@import "route-panel.less";
@import "route-settings.less";
@import "service-sidebar.less";
@import "service-cart.less";
@import "feedback-form.less";
@import "title-bar.less";
@import "service-tree.less";
@import "activearea.less";
@import "typeahead.less";
@import "typography.less";
@import "embed.less";

html, body, #map {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

body {
  overflow: hidden;
}

#app-container {
  width: 100%;
  height: 100%;
}

.sr-only-reset {
  display: inline;
  position: relative;
  width: auto;
  height: auto;
  margin: auto;
  padding: auto;
  overflow: auto;
  clip: auto;
  border: auto;
}

.servicemap-div-icon {
  font-size: 40px;
  line-height: 40px;
  & .icon-icon-you-are-here {
    color: @gray;
  }
  & .icon-icon-you-are-here {
    color: @blue;
  }
}

a:focus {
  text-decoration: none;
}

ul.main-list li:focus div {
  .tab-focus();
  text-decoration: underline;
}

#browse-region:focus {
  outline: 1px solid black;
  // WebKit
  outline: 5px auto black;
  outline-offset: -2px;
}

#search-region:focus {
  outline: 1px solid black;
  // WebKit
  outline: 5px auto black;
  outline-offset: -2px;
}

// These are needed to fix the media query issues in
// Internet Explorer 10 in Windows 8 and Windows Phone 8.
// See http://getbootstrap.com/getting-started/#support-ie10-width for more details.
@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }
