.service-sidebar {
  font-family: @font-family-base;
  .container {
    width: @service-tree-width;
    font-size: @font-size-base;
  }

  .header {
    display: inline-block;
    box-sizing: border-box;
    padding: 8px 16px;
    width: 48%;
    max-height: 40px;
    background-color: @white;
    color: @text-color;
    border-radius: 2px;
    overflow: hidden;
    white-space: nowrap;
    .transition(all 0.3s ease-out);
    &:hover {
      text-decoration: none;
    }

    input {
      width: 125px;
      display: inline-block;
      margin-left: 8px;
      height: 24px;
      border-radius: 10px;
      background-color: lighten(@light-blue, 4%);
      color: #000;
    }

    .close-button {
      display: none;
      background-color: transparent;
      border: none;
      color: @gray;
      font-size: 23px;
      line-height: 19px;
      &:hover {
        color: lighten(@gray, 15%);
      }
    }
  }
  .header + .header {
    margin-left: 4px;
  }

  #details-view-container {
    display: none;

    .content {
      overflow-y: scroll;

      .back-button {
        display: block;
        color: @gray;
        background-color: @light-blue;
        padding: 8px 16px;
        margin: 2px 0;
        &:hover {
          text-decoration: none;
        }
      }

      .section {
        background-color: @white;
        padding: 8px 16px;
        border-bottom: 1px solid @gray;

        h2 {
          font-size: 18px;
          font-weight: bold;
          margin-top: 8px;
          margin-bottom: 8px;
        }

        h3 {
          font-size: 16px;
          font-weight: bold;
          margin-top: 8px;
          margin-bottom: 16px;
        }

        ul {
          padding: 0 0 0 20px;
          line-height: 20px;
        }
      }

      .main-info {
        font-size: 14px;
        line-height: 16px;

        .header-row {
          .color-ball {
            float: left;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: @orange;
            margin: 4px 8px 0 0;
          }
        }

        .description {
          color: @gray;
          margin-bottom: 8px;
        }

        address {
          line-height: 16px;
        }
      }
    }
  }

  .browse-open {
    .browse {
      width: 83%;
      background-color: @light-blue;
      color: @blue;

      .close-button {
        display: block;
      }
    }

    .search {
      width: 13%;
      input {
        display: none;
      }
    }

    #service-tree-container ul {
      display: block;
    }
  }

  .search-open {
    .search {
      width: 83%;
      background-color: @light-blue;
      color: @blue;

      input {
        width: 226px;
      }

      .close-button {
        display: block;
      }
    }
    .browse {
      width: 13%;
      span {
        display: none;
      }
    }
  }

  .details-open {
    #details-view-container {
      display: block;
    }

    #service-tree-container {
      display: none;
    }
  }
}

#service-tree-container {
  font-family: @font-family-base;
  .container {
    width: @service-tree-width;
    font-size: @font-size-base;
  }

  .header {
    padding: 8px 16px;
    background-color: @light-blue;
    color: @blue;

    .close-button {
      background-color: transparent;
      border: none;
      color: @gray;
      &:hover {
        color: lighten(@gray, 15%);
      }
    }
  }

  ul {
    display: none; // Show only if the browse topics is open
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
    overflow-y: scroll;

    li {
      position: relative;
      display: block;
      background-color: @white;
      min-height: 60px;
      padding: 8px 16px;
      margin-top: @service-tree-element-margin;
      border-radius: 2px;
      cursor: pointer;
      &:hover {
        background-color: #eee;
      }

      .item-name {
        width: 67%;
        // Styles to vertically align one or more rows of text
        min-height: 42px;
        line-height: 42px;
        span {
          line-height: 20px;
          display: inline-block;
          vertical-align: middle;
        }
      }

      .show-button {
        position: absolute;
        top: 16px;
        right: 26px;
        color: @show-btn-color;
        background-color: @white;
        border: 1px solid @show-btn-color;
        border-radius: @show-btn-radius;
        min-width: 60px;
        padding: 4px 8px;
        font-size: 80%;
        text-align: center;
        text-transform: uppercase;
        display: block;

        &:hover {
          text-decoration: none;
          background-color: lighten(@orange, 15%);
        }
        &:focus {
          text-decoration: none;
        }
        &.selected {
          color: @white;
          background-color: @orange;
          border: none;
        }
      }

      .back-icon {
        margin-right: 8px;
      }

      .expand-icon {
        position: absolute;
        right: 8px;
        top: 23px;
      }
    }

    .info-box {
      background-color: @light-blue;
      color: @service-tree-info-box-color;
      cursor: auto;
      &:hover {
        background-color: @light-blue;
      }
    }
  }
}
