#service-cart,
#navigation-contents {

  font-family: @font-family-base;

  .container {
    width: @sidebar-width;
    font-size: @font-size-base;
  }

  .service-point-count {
    min-height: 20px;
    line-height: 12px;
    font-size: 12px;
    text-align: center;
  }

  ul.main-list {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
    height: auto;
    .transition(max-height 0.3s ease-out);
  }

  ul.main-list li + li {
    margin-top: @sidebar-small-margin;
  }

  .header-item.expanded-search-results {
    padding: 0;
    height: 60px;
    .clearfix();
    .header-column-main {
      float: left;
      width: 65%;
      padding-left: 15%;
    }
    .header-column-sort {
      float: right;
      width: 35%;
      padding-right: 5%;
      padding-top: 10px;
      text-align: right;
      line-height: 14px;
    }
    a.sorting {
      color: @gray;
      font-size: 12px;
      &:hover {
        color: @blue;
      }
    }
  }

  ul.main-list li, .header-item {
    position: relative;
    display: block;
    background-color: @white;
    min-height: 60px;
    padding: 8px 40px; // Have padding on the sides for icons.
    border-radius: @main-border-radius;
    cursor: pointer;

    &:hover {
      background-color: #eee;
      .icon-icon-forward-bold {
        color: #33a8ff;
      }
    }

    &:focus, *:focus {
      outline: none;
      -webkit-appearance: none;
    }

    label {
      color: #333;
      font-size: 16px;
    }

    .show-icon {
      position: absolute;
      right: 8px;
      color: @gray;
      font-size: 28px;
      line-height: 28px;
      padding-top: 2px;

      &.selected {
        color: @default-service-color;
      }
      &:focus, *:focus {
        outline: none;
        -webkit-appearance: none;
      }
    }

    &.parent {
      color: @default-service-color;
      background-color: @blue-lighter;
      font-weight: @font-bold-weight;
      .icon-icon-back-bold {
        color: @default-service-color;
      }
    }

    .header-item {
      padding-right: 16px;
    }

    .breadcrumbs {
      max-height: 20px;
      font-size: 12px;
      font-weight: @font-normal-weight;

      .crumb {
        display: inline-block;
        text-overflow: ellipsis;
        //overflow: hidden;
        height: 20px;
        word-break: break-all;

        &:hover {
          text-decoration: underline;
        }
      }

      .icon-icon-forward {
        display: inline-block;
        position: static;
        margin-top: -12px;
        padding: 0 2px;
        font-size: 12px;
        color: @blue;
      }
    }
  }

  .position .header-item {
    padding: 8px 40px;
    margin-bottom: 2px;
  }

  .search-results,
  .position {

    .categories .header-item {
      margin-top: 0;
    }

    .header-item {
      margin-top: 2px;
      margin-bottom: 2px;
      background-color: @blue-lighter;
      color: @blue-dark;
      cursor: inherit;
      font-size: 18px;
      font-weight: bold;
      min-height: 30px;

      &:hover {
        background-color: @blue-lighter;
      }
    }

    .search-result {
      .icon, .color-ball {
        position: absolute;
        left: 16px;
        top: 9px;
      }
      .title {
        font-weight: normal;
      }
      .specifier {
        display: block;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: normal;
        color: @gray;
      }
    }

    .show-prompt {
      position: relative;
      display: block;
      margin-top: 2px;
      padding: 0 40px;
      border-radius: @main-border-radius;
      color: @gray;
      background-color: @white;
      box-sizing: border-box;
      line-height: 60px;
      font-weight: bold;

      .spinner-container {
        position: absolute;
        top: 10px;
        right: 10px;
        height: 40px;
        width: 40px;
      }

      &:hover {
        background-color: #eee;
      }
    }
  }
}

#service-cart ul.main-list li {
  padding: 8px 12px;
}

