.service-sidebar {
  position: absolute;
  left: 0;
  font-family: @font-family-base;
  .container {
    width: @sidebar-width;
    font-size: @font-size-base;
    padding: 0;

    .contents {
      clear: both;
    }
  }

  .header {
    position: relative;
    float: left;
    box-sizing: border-box;
    width: @sidebar-header-start-width;
    padding: 0px @sidebar-header-padding;
    margin-bottom: @sidebar-small-margin;
    line-height: @sidebar-height;
    max-height: @sidebar-height;
    background-color: @sidebar-header-inactive-bg;
    color: @sidebar-header-inactive-color;
    border-radius: @main-border-radius;
    overflow: hidden;
    white-space: nowrap;
    .transition(@sidebar-header-transition);

    .icon {
      font-size: @sidebar-icon-size;
      vertical-align: middle;
    }

    .text {
      margin-left: 8px;
      position: relative;
    }

    .input-container {
      position: absolute;
      left: @sidebar-header-closed-width;
      right: 8px;

      .twitter-typeahead {
        width: 100%;
      }

      .close-button {
        color: @gray;
        right: 3px;
      }
    }

    input {
      width: 100%;
      padding: 2px 8px;
      display: inline-block;
      margin-top: 7px;
      margin-top: @search-input-margin-top;
      height: 26px;
      border-radius: 12px;
      background-color: @white;
      color: #000;
      .placeholder(@blue);
      .transition(@sidebar-header-transition);
    }

    .close-button {
      display: none;
      position: absolute;
      top: 0;
      right: 8px;
      background-color: transparent;
      border: none;
      color: @white;
      font-size: 20px;
      line-height: @sidebar-height;
      &:hover {
        color: lighten(@gray, 15%);
      }
      span {
        vertical-align: middle;
      }
    }
  }
  .header + .header {
    margin-left: @sidebar-big-margin;
  }

  .browse-open {
    .browse {
      width: @sidebar-header-open-width;
      color: @sidebar-header-active-color;
      background-color: @sidebar-header-active-bg;

      .close-button {
        display: block;
      }
    }

    .search {
      width: @sidebar-header-closed-width;
      input {
        width: 0;
      }
    }

    #service-tree-container ul {
      display: block;
    }
  }

  .search-open {
    .search {
      width: @sidebar-header-open-width;
      color: @sidebar-header-active-color;
      background-color: @sidebar-header-active-bg;
      overflow: visible;
      white-space: normal;

      .close-button {
        display: block;
      }
    }
    .browse {
      width: @sidebar-header-closed-width;
      .text {
        display: none;
      }
    }
    .service-tree {
      max-height: 0 !important; // Needed for animations
    }
  }

  .details-open {
    #details-view-container {
      display: block;
    }

    #service-tree-container {
      display: none;
    }
  }

  // Styles for animation.
  .contents {
    width: @sidebar-width;
    overflow-x: hidden;
  }

  .search-result .title {
    font-weight: bold;
  }

  #service-tree-container, #navigation-contents {
    position: relative;

    .service-tree,
    .search-results {
      position: relative;
      float: left;
      width: @sidebar-width;
      overflow-y: auto;
    }

    .service-tree + .service-tree {
      margin-left: @sidebar-big-margin;
    }
  }

  @media (max-width: 800px) {
    &.leaflet-control {
      margin: 0 0;
    }
  }

  @media (max-width: 500px) {
    &.leaflet-control,
    &.leaflet-control .container,
    &.leaflet-control .container .contents {
      width: 100%;
    }
  }
}

@media (max-width: 500px) {
  .leaflet-top.leaflet-left {
    width: 100%;
  }
}
