#title-bar-container {
  margin-top: 20px;
  margin-left: 20px;

  .panel {
    background: none;
  }
  .panel-heading {
    padding: 1px 9px;
    border-radius: 5px;
  }

  .show-button {
    .show-button;
  }

  .panel-body {
    position: relative;
    margin-top: 3px;
    background-color: white;
    border-radius: 5px;
    padding: 8px 15px;

    .show-button {
      top: 8px;
    }
  }

}