
#tour-region {
  z-index: 3000;
  * {
    z-index: 3001 !important;
  }
  img.header {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  button {
    padding: 4px 40px;
    background-color: @blue-lighter;
    color: @blue;
    .icon {
      position: static;
      display: inline;
      font-size: 16px;
      color: @blue;
    }
    &.back {
      padding: 4px 4px;
      color: @gray;
      background-color: transparent;
      .icon {
        color: @gray;
      }
    }
    &.forward {
      float: right;
    }
  }
  .popover-header {
    padding: 9px 14px;
  }
  .popover-title {
    clear: both;
  }
  .progress-meter {
    float: left;
  }
  .close-button {
    float: right;
  }
  .close-button, .language-selector, .progress-meter {
    color: @gray;
  }
  ul.popover-examples {
    list-style-type: none;
    padding: 0;
    li .icon {
      color: @blue;
    }
  }
  .popover.tour.orphan {
      text-align: center;
      max-width: 550px;
  }
}

#tour-backdrop {
  background-color: transparent;
}

.tour-backdrop, .tour-step-background {
  z-index: 1000;
}
