
#tour-region {
  z-index: 3000;
  * {
    z-index: 3001 !important;
  }
  img.header {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  button {
    padding: 4px 40px;
    background-color: @blue-lighter;
    color: @blue;
    .icon {
      position: static;
      display: inline;
      font-size: 16px;
      color: @blue;
    }
    &.back {
      padding: 4px 4px;
      color: @gray;
      background-color: transparent;
      .icon {
        color: @gray;
      }
    }
    &.forward {
      float: right;
    }
  }
  .popover-header {
    padding: 9px 14px;
  }
  .popover-title {
    clear: both;
  }
  .progress-meter {
    float: left;
  }
  .close-button {
    float: right;
  }
  .close-button, .language-selector, .progress-meter {
    color: @gray;
  }
  ul.popover-examples {
    list-style-type: none;
    padding: 0;
    li .icon {
      color: @blue;
    }
  }
  .popover.tour.orphan {
      text-align: center;
      max-width: 550px;
  }
}

#tour-backdrop {
  background-color: transparent;
}

.tour-backdrop, .tour-step-background {
  z-index: 1000;
}

// Mobile devices
#feature-tour-start {
  position: fixed;
  z-index: 1005;
  bottom: 20px;
  left: 10px;
  width: 45%;
  .feature-tour-start {
    width: 100%;
    margin-left: 10px + 40px; // Magic number: service cart width
    margin-right: 10px;
    text-align: center;
    color: @blue;
    margin-bottom: 0px;
    .prompt-button {
      display: block;
      position: relative;
      border-radius: 19px;
      padding: 10px 20px 10px 10px;
      color: @blue;
    }
    .icon {
      position: absolute;
      right: 10px;
      top: 10px;
      color: @gray;
    }
  }
}

// Small devices and up
@media (min-width: @screen-sm-min) {
  #feature-tour-start {
    bottom: 20px;
    width: 100%;
    .feature-tour-start {
      width: 300px;
      margin: 0 auto 20px auto;
      .prompt-button {
        display: inline;
        padding: 10px 40px;
      }
    }
  }
}
