.route-controllers {
  .twitter-typeahead {
    width: 100%;
  }

  .tt-dropdown-menu {
    background-color: @white;
    border: 1px solid @text-color;
    border-radius: @main-border-radius;
    padding: 4px;
    width: 250px;
    margin-top: -1px;
    width: auto;
    right: 0 !important;
  }

  .tt-suggestion.tt-cursor {
    background-color: #ddd;
    cursor: pointer;
  }

  .tt-hint {
    background-color: @blue-lighter !important;
  }
}

#search-region {
  pre {
    display: none;
  }
  .tt-input {
    background-color: @white !important; // Color fix for iPhones.
  }

  // Container holding the suggestions.
  .tt-dropdown-menu {
    border: none;
    border-radius: @main-border-radius;
    padding: 0;
    background-color: @white;
    // Match the position of the search header containing the typeahead input.
    margin-top: 3px;
    margin-left: -@sidebar-header-closed-width;
  }
  .tt-suggestion {
    border-width: 1px;
    border-style: solid;
    border-color: white;
  }

  .tt-suggestion.tt-cursor {
    text-decoration: none;
    background-color: #eee;
    border-color: #666;
  }

  .tt-dataset-header .tt-suggestion {
    // Todo: this isn't currently applied for some reason.
    border-color: @blue-lighter;
  }
  .tt-dataset-header .tt-suggestion.tt-cursor {
    border-color: #ccc;
  }

  .typeahead-suggestion {
    width: 100%;

    &.event {
      line-height: 1;
    }

    &.fulltext {
      background-color: @blue-lighter;
    }

    a {
      display: block;
      padding: 4px 16px;
      color: @text-color;
      &:hover {
        text-decoration: none;
      }

      .icon {
        float: left;
        margin: 2px 16px 0 0;
        color: @gray;
      }

      .suggestion-text {
        margin-left: 34px;
      }

      .date {
        margin-left: 34px;
        color: @gray;
      }

      .color-ball {
        margin-top: 13px;
      }
    }

    p {
      color: @text-color;
      padding: 4px 16px;
      margin: 0;
    }
  }


  // Small devices (tablets, 768px and up)
  // -------------------------------------

  @media (min-width: @screen-sm-min) {
    .tt-dropdown-menu {
      width: auto;
      margin-left: -@sidebar-header-closed-width;
    }

    .typeahead-suggestion {
      width: @sidebar-sm-width - @sidebar-big-margin - @sidebar-header-closed-width;
    }
  }


  // Medium devices (desktops, 992px and up)
  // ----------------------------------------

  @media (min-width: @screen-md-min) {
    .typeahead-suggestion {
      width: @sidebar-header-open-width;
    }
  }
}
