h2 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 8px;
  margin-bottom: 8px;
}

h3 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 8px;
  margin-bottom: 16px;
}

a {
  &.external-link, &.blue-link {
    color: @blue;
  }
  &:hover {
    text-decoration: none;
  }
}
