// Colors
// -------------------------

@green:                                 #3cd200;
@red:                                   #f04200;
@blue:                                  #1964e6;
@blue-light:                            #004ED8;
@blue-lighter:                          #eef0ff;
@blue-dark:                             darken(@blue, 35%);
@white:                                 #fffefd;
@gray:                                  #797776;
@gray-light:                            #eededd;
@gray-lightest:                         #cccccc;
@default-service-node-color:                 rgb(40, 40, 40);
@background-darkening:                  rgba(0, 0, 0, 0.15);
@border-color:                          #c7c5c4;

// Transit colors
@transit-tram-color:                    #39AC7F;
@transit-subway-color:                  rgb(251,101,0);
@transit-rail-color:                    rgb(151,151,151);
@transit-ferry-color:                   rgb(0,81,142);
@transit-walk-color:                    #7a7a7a;


// Typography
// -------------------------

@font-family-sans-serif:                "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-base:                      @font-family-sans-serif;
@font-size-base:                        16px;
@white-glow:                            -1px 0 5px #fff, 0 1px 5px #fff, 1px 0 5px #fff, 0 -1px 5px #fff;
@black-glow:                            -2px 0 5px #000, 0 2px 5px #000, 2px 0 5px #000, 0 -2px 5px #000;
@link-color:                            #333;
@font-normal-weight:                    400;
@font-bold-weight:                      700;

// Site wide variables
// -------------------------

@border-light:                          1px solid @border-color;
@main-border-radius:                    2px;


// Map controls
// -------------------------

@map-control-top-margin:                16px;
@map-control-bottom-margin:             24px;
@map-control-horizontal-margin:         24px;
@landing-transition:                    all 0.4s ease-in-out;
@map-control-icon-width:                40px;
@map-control-button-width:              32px;
@map-control-button-height:             32px;

// Logos
// -------------------------

@landing-logo-height:                   41px;
@landing-logo-width:                   221px;
@logo-height:                           31px;


// Service sidebar
// -------------------------

// Change these to customize the sidebar dimensions.
@sidebar-width:                         400px;
@sidebar-height:                        @map-control-icon-width;
@sidebar-big-margin:                    4px;
@sidebar-small-margin:                  2px;
@search-input-height:                   26px;
@sidebar-icon-size:                     18px;

// These are calculated automatically from the above values.
@sidebar-header-open-width:             @sidebar-width - @sidebar-big-margin - @sidebar-header-closed-width;
@sidebar-header-closed-width:           @sidebar-height;
@sidebar-header-padding:                (@sidebar-header-closed-width - @sidebar-icon-size) / 2;
@search-input-margin-top:               (@sidebar-height - @search-input-height) / 2;


// Change these to customize the sidebar appearance.
@sidebar-header-active-color:           @white;
@sidebar-header-inactive-color:         @white;
@sidebar-header-active-bg:              @blue-light;
@sidebar-header-inactive-bg:            @blue;
@sidebar-header-transition:             all 0.3s ease-out;

@show-btn-color:                        #5b5958;
@show-btn-radius:                       13px;


// Routing related variables
// -------------------------

@route-selector-border-radius: 12px;
@route-line-height: 27px;


// Varibles on tablet screen sizes
// -------------------------------

@sidebar-sm-width:                      320px;
@map-control-sm-margin:                 8px;


// Overridden bootstrap variables
// ------------------------------

@border-radius-large:                   20px;
@popover-bg:                            white;
@popover-title-bg:                      transparent;
@popover-max-width:                     360px;


// Focus states
// ------------------------------

@focus-width:                           2px;

.block-element-focus{
  outline: none;
  box-shadow: 0 0 0 @focus-width rgba(25, 100, 230, 0.5);
  transition: @landing-transition;
}

.inline-element-focus{
  outline: 2px solid lighten(@blue, 25%);
  outline-offset: 5px;
  transition: all 0.25s;
}

// Override BS-tabfocus
.tab-focus {
  .block-element-focus();
}

// Add overwrite where needed
.clear-focus {
  outline: none;
  transition: none;
  text-decoration: none;
  box-shadow: 0 0 0 rgba(0,0,0,0);
}

// Global focus
*:focus {
  .block-element-focus();
}
