// Colors
// -------------------------

@blue:                          #33a8ff;
@light-blue:                    #e0ecfd;
@orange:                        #e1834f;
@white:                         #fffefd;


// Service tree
// -------------------------

@service-tree-width:            400px;
@service-tree-element-margin:   2px;
@service-tree-info-box-color:   #848384;
@show-btn-color:                #5b5958;
@show-btn-radius:               13px;
