// Colors
// -------------------------

// Marker colors
@magenta:                       #c04ede;
@yellow:                        #faac00;
@orange:                        #e37a34;
@purple:                        #8e8aff;
@green:                         #4d8b00;
@red:                           #f04200;
@blue-dark:                     #0a518e;
@green-light:                   #39d20e;
@red-dark:                      #990000;

// Other colors
@blue:                          #33a8ff;
@blue-light:                    #50c7ff;
@blue-lighter:                  #e2ebfd;
@white:                         #fffefd;
@gray:                          #797776;


// Typography
// -------------------------

@font-family-sans-serif:        "Karla", "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-base:              @font-family-sans-serif;
@font-size-base:                16px;


// Logos
// -------------------------

@landing-logo-height:           50px;
@logo-height:                   32px;


// Service tree
// -------------------------

@service-tree-width:            400px;
@service-tree-element-margin:   2px;
@service-tree-info-box-color:   #848384;
@show-btn-color:                #5b5958;
@show-btn-radius:               13px;
